*~
*.iml
*.sw[po]
*-old
.#*
.DS_Store
.history
/.ensime
/.ensime_lucene/
/.idea
/logs/
/node_modules/
managed/
project/project/
target/
tmp/
.bsp/

/public/modelslib/src/test/resources/modelwords.txt
/public/modelslib/test/stats/usage_of_primitives.svg
