/* Color templates; I imagine that this structure will facilitate the creation of customized color schemes.  ...I _imagine_ */

.background_backgrounded {
  background-color: #343434;
}

.contrast_backgrounded {
  background-color: #347999;
}

.background_colored {
  color: #343434;
}

.contrast_colored {
  color: #347999;
}

.common_text_colored {
  color: #FFFFFF
}

.other_user_colored {
  color: #C1601F
}

.self_user_colored {
  color: #429B24
}

.channel_context_colored {
  color: #6D39FB
}

.join_colored {
  color: #00FF00
}

.quit_colored {
  color: #FF0000
}

