/* The core classes of the Bizzle style */

.chat_message {
  padding: 10px;
  margin-bottom: 7px;
}

.chat_message .user {
  vertical-align: middle;
  width: 19%;
  font-size: medium;
}

.chat_message .context {
  vertical-align: middle;
  width: 20%;
  font-size: medium;
}

.chat_message .message {
  vertical-align: middle;
  white-space: pre-wrap;
  width: 54%;
  font-size: medium;
}

.chat_message .timestamp {
  text-align: right;
  vertical-align: middle;
  width: 7%;
  font-size: medium;
}

.username {
  margin-top: 5px;
  padding-left: 8px;
  padding-right: 15px;
  height: 30px;
  width: 100%;
  display: table;
}

.username .username_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.username_plain {
  background: #347999 url('/assets/images/nameplate-plain.png') no-repeat;
  background-size: cover;
}

.username_selected {
  background: #347999 url('/assets/images/nameplate-selected.png') no-repeat;
  background-size: cover;
}

.username_plain:hover {
  background-image: url('/assets/images/nameplate-hover.png');
}

.username_text {
  vertical-align: middle;
  font-size: medium;
}

.top_text {
  font-size: medium;
}

.agent_type_text {
  font-size: medium;
  color: #FFFFFF;
  vertical-align: middle;
  text-align: center;
}

.agent_type_cell {
  background-clip: content-box;
  color: white;
  border: 3px solid #347999;
}

.cc_input {
  box-shadow: none;
  height: 18px;
  white-space: nowrap;
}

.chatter_input {
  border: none;
  color: black;
  font-size: medium;
  padding: 0px;
  width: 100%;
}

.inner_box {
  padding: 20px;
  margin: 15px;
  overflow: hidden;
}

.rounded {
  border-radius: 10px;
}

.scrollable {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.tab_label {
  font-size: 20px;
  padding: 15px 15px 25px 15px;
  margin-right: 3px;
  margin-bottom: -35px;
  font-weight: bold;
}

.inactive_tab:hover {
  color: #FFFF00;
}

.active_tab {
  color: #FFFFFF;
}

.inner_tab_content {
  background: white;
  height: 100%
}

.hidden_tab_content {
  display: none;
}

.tab_inner_content {
  height: 450px;
  min-height: 450px;
  background: white;
  padding: 10px 20px;
}

/* Firefox only! */
@-moz-document url-prefix() {
  .scrollable {
    height: 1px;
    min-height: 100%;
    overflow: auto;
  }
}

.spacy_column {
  border-spacing: 10px;
  border-collapse: collapse;
}

.not_full_height {
  height: 95%;
  min-height: 95%;
}

.full_height {
  height: 100%;
  min-height: 100%;
}

.full_width {
  width: 100%;
  min-width: 100%;
}

.hor_centered {
  margin-left: auto;
  margin-right: auto;
}

.username_box {
  width: 55%;
}

.login_button {
  width: 32%;
}

.topbar .btn {
  border: 0;
}

.topbar p {
  color: #888;
}

.core_content_box {
  width: 83%;
}

.content {
  padding: 20px 20px 45px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  min-height: 100%;
  height: 100%;
}

.contained {
  height: 92%;
  min-height: 92%;
}

.normal_font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.monospace_font {
  font-family: "Courier New", Courier, monospace;
}

.no_border {
  border: 0
}

.fake_input {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px 0px inset;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 4px 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: black;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: border, box-shadow;
  transition-timing-function: linear, linear;
}

.no_glow:focus {
  outline: none;
  box-shadow: none;
}

.glow {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 8px #9ecaed;
}
