@()(implicit flash: Flash)

@views.html.core.component.mainTheme {

  @flash.get("error").map { errorMessage =>
    <div class="alert-message error">
      <p>
        <strong>Oops!</strong> @errorMessage
      </p>
    </div>
  }

  <div style="text-align: center;">
    <div class="alert-message block-message info" style="display: inline-block;">
      <form action="@controllers.remote.routes.Remote.client()" style="margin-bottom: 0;">
        Type the username that you would like to use and press the "Enter" key:
        <input id="username" style="width: 25%;" name="username" type="text" placeholder="Username">
      </form>
    </div>
  </div>

}
