/*
 * styles to use with the "error alert" component
 */

.dark-overlay {
  background-color:rgba(0, 0, 0, 0.7);
  width:100%;
  height:100%;
  z-index:10;
  top:0;
  left:0;
  position: fixed;
}

#alert-overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#alert-dialog {
  background-color: whitesmoke;
  opacity: 1;
  z-index: 15;
  border-radius: 10px;
  border: 2px black solid;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#alert-title {
  margin-bottom: 5px;
}

.alert-text {
  padding: 10px;
  font-size: 16px;
}

.standalone-text {
  color: #555555;
  display: none;
  text-align: center;
  max-width: 600px;
}

#alert-dismiss-container {
  border-top: 1px solid lightgray;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.alert-button {
  font-size: 14px;
  height: 25px;
  min-width: 50%;
  border-radius: 3px;
  border: 1px solid lightgray;
  background-color: #e6e6e6;
}
