.chat_message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.chat_message .user {
    vertical-align: middle;
    width: 15%;
}

.chat_message .context {
    vertical-align: middle;
    width: 15%
}

.chat_message .message {
    vertical-align: middle;
    white-space: pre-wrap;
    width: 63%;
    word-wrap: break-word;
}

.chat_message .timestamp {
    text-align: right;
    vertical-align: middle;
    width: 7%;
}


/* Color templates; I imagine that this structure will facilitate the creation of customized color schemes.  ...I _imagine_ */
.background_colored {
    background-color: #343434;
}

.contrast_colored {
    color: #347999;
}

.common_text_colored {
    color: #FFFFFF
}

.other_user_colored {
    color: #C1601F
}

.self_user_colored {
    color: #429B24
}

.channel_context_colored {
    color: #6D39FB
}

.join_colored {
    color: #00FF00
}

.quit_colored {
    color: #FF0000
}