/*
 * "Classic" NetLogo widget color scheme
 */

.netlogo-command {
    background-color: #BCBCE5;
}
.netlogo-command.netlogo-active, .netlogo-command:active {
    background-color: #000;
    color: #BCBCE5;
}
.netlogo-button.netlogo-disabled:active, .netlogo-forever-button.netlogo-disabled.netlogo-active {
    background-color: #BCBCE5;
    color: grey;
}
.netlogo-input {
    background-color: #82BCB7;
}
.netlogo-output {
    background-color: #E0E0B5;
}

