.top_text {
  font-size: medium;
}

.rounded {
  border-radius: 10px;
}

.not_full_height {
  height: 95%;
  min-height: 95%;
}

.full_height {
  height: 100%;
  min-height: 100%;
}

.topbar .btn {
  border: 0;
}

.topbar p {
  color: #888;
}

.core_content_box {
  width: 83%;
}

.content {
  padding: 20px 20px 45px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  min-height: 100%;
  height: 100%;
}

.contained {
  height: 92%;
  min-height: 92%;
}

.normal_font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.monospace_font {
  font-family: "Courier New", Courier, monospace;
}

.invisible {
  opacity:0;
  width: 0;
  z-index: -1;
}

.text_input_margin {
  margin-top: 10px;
  margin-right: 15px;
}

.chosen-container .chosen-results li {
  padding-bottom: 7px;
  padding-top:    7px;
}

.chosen-container .chosen-results li.not_compiling.dev, .chosen-container .chosen-results li.compiling.dev, .chosen-container .chosen-results li.unknown.dev {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 3px 2px;
  padding-left:   35px;
}

li.not_compiling.dev {
  background-image: url('/assets/images/x.png') !important;
}

li.compiling.dev {
  background-image: url('/assets/images/check.png') !important;
}

li.unknown.dev {
  background-image: url('/assets/images/caution.png') !important;
}

.spacious-entry {
  padding: 8px 8px;
}

.index-button {
  margin: 2%;
  border: 2px solid #347999;
  border-radius: 6px;
  background-color: #DDF4FB;
  transition: background-color 0.25s;
  text-align: center;
}

.index-button:hover {
  background-color: #E8FFFF;
}

.icon-button {
  display: block;
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 256px;
  margin: auto;
}

.index-link {
  max-width: 300px;
  min-width: 200px;
  text-decoration: none !important;
  color: inherit;
}

.index-link:hover {
  text-decoration: none;
  color: inherit;
}

.platform-list {
  margin-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.platform-list > li {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #5499B9;
}

/*

 Flexbox stuff

 Much of this could be inlined in styles, but we do this to allow the autoprefixer access to it --JAB 3/30/15

 */

.dynamic-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dynamic-column-holder {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}
