.frames-container {
  gap:             25px;
  justify-content: space-between;
}

.student-flex {
  align-items: center;
}

.student-frame {
  border:        1px solid var(--color-control-border);
  border-radius: var(--radius-control);
  margin:        10px 20px 0 0;
  padding:       10px;
}

.student-title {
  color:       var(--color-text);
  font-family: var(--font-widget);
  font-size:   24px;
}

.supervisor-flex {
  align-items: center;
}

.supervisor-frame {
  border:        1px solid var(--color-control-border);
  border-radius: var(--radius-control);
  margin:        10px 10px 0 0;
  padding:       10px;
}

.supervisor-title {
  color:       var(--color-text);
  font-family: var(--font-widget);
  font-size:   24px;
}
