#js-warning {
  width: 640px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  background: #FFF5;
}
