/*
 * OpenSans
 * */
 @font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;  
  font-stretch: 75% 125%; 
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-dark-blue: #0072f5; 
  --color-widget-button: var(--color-dark-blue);
  --color-widget-button-active: #003473;
  --color-widget-button-text: #ffffff;
  --color-widget-button-disabled: #d5d5d5;
  --color-widget-button-disabled-text: #999999;

  --color-widget-accessories: var(--color-dark-blue);
  --color-widget-accessories-neutral: #afafaf;

  --color-widget-background: #cae6ff;

  --color-widget-plot-background: #eeeeee;
  --color-widget-plot-border: #bcbcbc;

  --color-widget-select-border: #459ef9;
  --color-widget-input-border:#0070f6;

  --color-widget-switch-primary: var(--color-dark-blue);
  --color-widget-switch-off: #d5d5d5;
  

  --widget-padding-x: 0.5rem;
  --widget-padding-y: 0.3rem;

  --font-widget: 'Open Sans', sans-serif;
}

.netlogo-command {
  background-color: var(--color-widget-button);
  color: var(--color-widget-button-text);
}
.netlogo-command.netlogo-active, .netlogo-command:active {
  background-color: var(--color-widget-button-active);
}
.netlogo-button.netlogo-disabled:active, .netlogo-forever-button.netlogo-disabled.netlogo-active {
  background-color: var(--color-widget-button-disabled);
  color: var(--color-widget-button-disabled-text);
}
.netlogo-input {
  background-color: var(--color-widget-background);
}
.netlogo-output {
  background-color: #eeeeee;
}

.netlogo-slider-label .netlogo-label {
  background-color: transparent;
}

.netlogo-slider-label .netlogo-slider-value input {
  background-color: white
}

.netlogo-tab-area {
  border-color: #242479;
}

.netlogo-tab {
  background-color: #BCBCE5;
  border-color: #242479;
  font-size: 16px;
}

.netlogo-tab.netlogo-active {
  background-color: #7C76fD;
}

.netlogo-tab:active {
  background-color: #7C76fD;
}

.netlogo-tab:hover  {
  background-color: #D3D3EE;
}

.netlogo-tab.netlogo-active:hover  {
  background-color: #9E99FD;
}

.netlogo-view-container {
  background-color: #F4F4F4;
}

.netlogo-canvas {
  border-radius: 3px;
}
