:root {
  --color-light-blue: #cae6ff;
  --color-dark-blue: #0072f5;
  --color-widget-button: var(--color-dark-blue);
  --color-widget-button-active: #003473;
  --color-widget-button-text: #ffffff;
  --color-widget-button-disabled: #d5d5d5;
  --color-widget-button-disabled-text: #737373;

  --color-widget-accessories: var(--color-dark-blue);
  --color-widget-accessories-neutral: #afafaf;

  --color-widget-background: var(--color-light-blue);

  --color-widget-plot-background: #eeeeee;
  --color-widget-plot-border: #bcbcbc;

  --color-widget-select-border: #459ef9;
  --color-widget-input-border: #0070f6;

  --color-widget-switch-primary: var(--color-dark-blue);
  --color-widget-switch-off: #d5d5d5;

  --color-widget-switch-primary-hover: #00aaff;
  --color-widget-switch-off-hover: #e5e5e5;

  --color-tab-background: #eff5fc;
  --color-tab-hover: var(--color-light-blue);
  --color-tab-active-background: var(--color-light-blue);
  --color-tab-active-hover: #98cbf8;
  --color-tab-border: #999999;

  --widget-padding-x: 0.5rem;
  --widget-padding-y: 0.3rem;

  --font-widget: 'Open Sans', sans-serif;

  --checkerboard: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=);
}

.netlogo-tab-area {
  border-color: var(--color-tab-border);
}

.netlogo-tab {
  background-color: var(--color-tab-background);
  border-color: var(--color-tab-border);
  font-size: 16px;
}

.netlogo-tab.netlogo-active {
  background-color: var(--color-tab-active-background);
}

.netlogo-tab:active {
  background-color: var(--color-tab-active-background);
}

.netlogo-tab:hover {
  background-color: var(--color-tab-hover);
}

.netlogo-tab.netlogo-active:hover {
  background-color: var(--color-tab-active-hover);
}
