body#ntp-body, html#ntp-body {
  background: #fff;
}

.ntb-block-def {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.2em;
  margin: 0.5em 0.2em;
  background: #fff;
}

.ntb-block-def-json {
  resize: vertical;
  min-height: 8em;
  margin: 0.5em;
  background: #eee;
}

.ntb-block-defs-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: top;
  align-items: top;
}

.ntb-block-edit-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.ntb-block-defs-controls {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
}

.ntb-block-defs-controls > div > label {
  display: block;
  width: 100%;
  font-size: 13px;
  text-align: center;
}

.ntb-block-defs-controls input[type="number"] {
  font-size: 13px;
  height: auto;
  margin: 0.1em;
  padding: 0.1em;
  text-align: right;
}

.ntb-button, .ntb-file-label {
  margin: 4px;
  font-size: 13px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-color: #999;
  border-width: 1px;
  border-style: solid;
  align-items: flex-start;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
}

.ntb-button, .ntb-file-label {
  cursor: pointer;
  user-select: none;
}

.ntb-file-button {
  display: none;
}

.ntb-list-menu {
  list-style-image: none;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

.ntb-list-menu > li {
  color: #666;
  margin: 4px;
  font-size: 13px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.ntb-list-menu > li.ntb-list-menu-item, .ntb-list-menu > li.ntb-list-submenu {
  color: #06a;
}
.ntb-list-menu > li.ntb-list-menu-item {
  cursor: pointer;
}
.ntb-list-menu > li.ntb-list-menu-title {
  border-bottom: 1px solid #666;
}
.ntb-list-menu > li.ntb-list-menu-item:hover, .ntb-list-menu > li.ntb-list-submenu:hover {
  background: #06a;
  color: #fff;
}

.ntb-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  user-select: none;
  display: none;
  z-index: 1000;
}

.ntb-popup-active {
  display: block;
}

.ntb-block-defaults, .ntb-confirm-delete {
  position: absolute;
  top: 24px;
  background: #fff;
  border: 1px solid #000;
}

.ntb-controls {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-top: 0;
}

#ntb-code {
  min-height: 16em;
}

#ntb-extra-css {
  min-height: 8em;
  background: #eee;
}

.ntb-block-space-name {
  border: 0px;
  background: #eee;
  font-size: 20px;
  text-align: center;
}

.ntb-flex-column {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: stretch;
}

.ntb-input {
  margin: 0px 10px;
  width: 90%;
  min-width: 30px;
  font-size: 20px;
  height: 33px;
  padding: 4px;
  text-align: left;
}

.ntb-flex-column .widget-edit-input-label {
  align-items: flex-start;
  text-align: center;
  font-size: 16px;
}

.nt-canvas {
  border: 1px solid #000;
  width: 100%;
}

.model-container, .netlogo-model {
  border: 0px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

.inner-content, .model-selection-bar {
  background: #fff;
  border: 0px;
  border-radius: 0px;
}

.ntb-form-row {
  align-items: center;
}

div.ntb-form-row > div {
  margin: 6px;
}

#nettango-options {
  min-width: 800px;
}

#nettango-options label {
  font-family: Poppins, sans-serif;
}

#model-recompile-overlay {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ntb-toggle-block {
  display: block;
}

.ntb-toggle-block > input[type=checkbox] {
  display: none;
}

.ntb-toggle-block > div {
  user-select: none;
  margin: 6px;
  padding: 2px;
}

.ntb-error-overlay {
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top:  0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.ntb-error-content {
  text-align: center;
  width: 30em;
  top: 10px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
