body#ntp-body, html#ntp-body {
  background: #fff;
}

#builder-body {
  margin: 0px;
}

.ntb-model-container {
  max-width: 100%;
  overflow-x: auto;
  width: min-content;
}

.ntb-inner-content {
  width: min-content;
}

.ntb-model-wrapper {
  position: relative;
}

.ntb-model-content {
  display: flex;
  width: 100%;
}

.ntb-block-def {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.2em;
  margin: 0.5em 0.2em;
  background: #fff;
}

.ntb-block-def-json {
  resize: vertical;
  min-height: 8em;
  margin: 0.5em;
  background: #eee;
}

.ntb-block-defs-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: top;
  align-items: top;
}

.ntb-block-edit-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.ntb-block-defs-controls {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
}

.ntb-block-defs-controls > div > label {
  display: block;
  width: 100%;
  font-size: 13px;
  text-align: center;
}

.ntb-block-defs-controls input[type="number"] {
  font-size: 13px;
  height: auto;
  margin: 0.1em;
  padding: 0.1em;
  text-align: right;
}

.ntb-form-row input[readonly] {
 background-color: #f6f6f6;
}

.ntb-button, .ntb-file-label {
  margin: 4px;
  font-size: 13px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-color: #999;
  border-width: 1px;
  border-style: solid;
  align-items: flex-start;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
}

.ntb-button, .ntb-file-label {
  cursor: pointer;
  user-select: none;
}

.ntb-file-button {
  display: none;
}

.ntb-list-menu {
  list-style-image: none;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

.ntb-list-menu > li {
  color: #666;
  margin: 4px;
  font-size: 13px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.ntb-list-menu > li.ntb-list-menu-item, .ntb-list-menu > li.ntb-list-submenu {
  color: #06a;
}
.ntb-list-menu > li.ntb-list-menu-item {
  cursor: pointer;
}
.ntb-list-menu > li.ntb-list-menu-title {
  border-bottom: 1px solid #666;
}
.ntb-list-menu > li.ntb-list-menu-item:hover, .ntb-list-menu > li.ntb-list-submenu:hover {
  background: #06a;
  color: #fff;
}

#ntb-block-edit-window {
  max-height: 800px;
  overflow-y: scroll;
}

.ntb-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  user-select: none;
  display: none;
  z-index: 1000;
}

.ntb-attributes {
  border-width: 1px;
  margin: 8px 0px;
}

.ntb-attribute {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f6f6f6;
  margin: 4px 0px;
  font-size: 16px;
}

.ntb-attribute-copy-format {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCRESKjYGwr+oAAAA60lEQVRIx2NgQAW7GP4TDcUZGBgYmBgoBCxo/PcMr4jQJYShj0RwEeEFiElcDHOINvMEQx+moDgJQbcT1QUUByJVY+ELwwm8ankYLPAbcJfBFa8B+gwX8BugxnAGrwGchLzAyWBMehhQNRCvMNjhVavDcAi/AcIMaXgNkCTkAkmGjgEOg+cMEwl4IR+/AW8ZZuE1QIeQAToM7wY4DL4zXMOrlpNBC78BtxhM8BpAMDMpM+zGawAPIS/wMLiQHgZUDcTbDJFYVJwh3gA2BiUird3CcImBgeE7QoDUYp2aYUAlA/4w/CNax09ULgDup2Xw7D3VDQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wOS0xN1QxODo0Mjo1NCswMDowML+BCDcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDktMTdUMTg6NDI6NTQrMDA6MDDO3LCLAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  max-width: 32px;
  min-width: 32px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 8px 0 0 0;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 2px;
}

.ntb-attribute-copy-format:active {
  background-color: #777;
}

.ntb-options {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  margin: 4px 8px;
  font-size: 16px;
}


.ntb-options-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.ntb-option-delete {
  margin: auto;
}

.ntb-option-header {
  margin: auto;
}

.ntb-code-format {
  padding: 4px 10px;
  border: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
}

.ntb-array-view-hidden {
  border: 0px;
  background: unset;
}

.ntb-popup-active {
  display: block;
}

.ntb-block-defaults, .ntb-confirm-delete {
  position: absolute;
  top: 24px;
  background: #fff;
  border: 1px solid #000;
}

.ntb-controls {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 0;
}

#ntb-code {
  min-height: 16em;
}

#ntb-extra-css {
  min-height: 8em;
  background: #eee;
}

.ntb-block-space-name {
  border: 0px;
  background: #eee;
  font-size: 20px;
  text-align: center;
}

.ntb-flex-column {
  margin: 8px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: stretch;
  flex: 1;
}

.ntb-input {
  width: 100%;
  min-width: 30px;
  font-size: 16px;
  height: 28px;
  padding: 4px 8px;
  text-align: left;
  box-sizing: border-box;
}

.ntb-flex-column .widget-edit-input-label {
  align-items: flex-start;
  text-align: left;
  margin-left: 12px;
  font-size: 12px;
}

.ntb-flex-column > .widget-edit-dropdown {
  margin: 0px;
}

.nt-canvas {
  border: 1px solid #000;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.model-container, .netlogo-model {
  border: 0px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

.inner-content, .model-selection-bar {
  background: #fff;
  border: 0px;
  border-radius: 0px;
}

.widget-edit-popup {
  width: 650px;
}

.ntb-form-row {
  align-items: center;
}

#nettango-options {
  min-width: 800px;
}

#nettango-options label {
  font-family: Poppins, sans-serif;
}

#model-recompile-overlay {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ntb-toggle-block {
  display: inline;
}

.ntb-toggle-block > input[type=checkbox] {
  display: none;
}

.ntb-toggle-block > div {
  user-select: none;
  margin: 6px;
  padding: 2px;
}

.ntb-error-overlay {
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top:  0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.ntb-error-content {
  text-align: center;
  width: 30em;
  top: 10px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
