/* Contains HTML element overrides, with particular focus on overriding Bootstrap */

/*
 BOOTSTRAP OVERRIDES
 */

table {
  margin-bottom: 0;
}

table th, table td {
  padding: 0;
}

table td {
  border-top: none;
}


/*
 GENERAL ELEMENT OVERRIDES
 */

body, html {
  background-color: #343434
}

