@(outputExtras: Html)

<div id="chatPane" class="not_full_height">
  <div class="hor_centered" style="vertical-align: bottom; min-height: 80%; height:80%">
    <div id="chat_tabs" style="display: flex; flex-direction: row; border: none; display: -webkit-box;">
      <div class="active_tab tab_label background_backgrounded contrast_colored rounded" data-partnerid="ccContent"
           onclick="exports.ChatServices.Tabs.selectTab(this)">
        Command Center
      </div>
      <div class="inactive_tab tab_label background_backgrounded contrast_colored rounded" data-partnerid="infoContent"
           onclick="exports.ChatServices.Tabs.selectTab(this)">
        Info
      </div>
      <div class="inactive_tab tab_label background_backgrounded contrast_colored rounded" data-partnerid="codeContent"
           onclick="exports.ChatServices.Tabs.selectTab(this)">
        Code
      </div>
    </div>
    @outputArea(outputExtras)
    @inputBuffer()
  </div>
</div>

