@(moduleName: String)

<script type="text/javascript" src='@routes.Assets.at("lib/underscorejs/underscore.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/underscore.string/underscore.string.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/mousetrap/mousetrap.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/ace/src/ace.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("lib/markdown-js/markdown.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/util/exports-init.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/util/textholder.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/util/linkedhashset.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/util/doublelist.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/ace/global-ace-init.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/meta/css.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-services.js")'></script>
<script type="text/javascript" src='@routes.Assets.at(s"javascripts/$moduleName.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-constants.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-globals.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-tabs.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-util.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-ui.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat-keybindings.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/chat.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/event/chat-events.js")'></script>
