<div id="input_group" class="rounded background_backgrounded" style="overflow: hidden; padding: 10px">
  <table id="inputs" style="table-layout: fixed; border-collapse: separate; width: 100%">
    <tr>
      <td id="agentTypeCell" class="agent_type_cell rounded" width=12%>
        <!--<button type="button" id="agentType" class="agent_type_text rounded background_backgrounded full_height full_width no_border" style="color: white" onclick="exports.ChatServices.UI.nextAgentType()"></button>-->
      </td>
      <td width=2%></td>
      <td style="vertical-align: middle" width=86%>
        <div id="inputsWrapper" class="fake_input">
          <!--<input id="chatterBuffer" autofocus="autofocus" class="mousetrap cc_input chatter_input normal_font no_glow" style="display: none">
          <div id="codeBufferWrapper" class="mousetrap cc_input no_glow" style="display: none"></div>-->
        </div>
      </td>
    </tr>
  </table>
</div>
