@(content: Html)

<!DOCTYPE html>

<html class="not_full_height">
  <head>
    <title>NetLogo on the Web</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/managed/bootstrap-1.4.0.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle/bizzle-elements.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle/bizzle-selectors.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle/bizzle-colors.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle/bizzle-classes.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <script src='@routes.Assets.at("lib/jquery/jquery.js")' type="text/javascript"></script>
  </head>
  <body class="not_full_height">

    <div class="topbar">
      <div class="fill">
        <div class="core_content_box container">
          <a class="brand" href="/">Galapagos</a>
        </div>
      </div>
    </div>

    <div class="core_content_box container not_full_height">

      <div class="content contrast_backgrounded not_full_height">
        <table id="chat" class="full_height" style="table-layout: fixed; width: 100%">
          <tr>
          @content
          </tr>
        </table>
      </div>

    </div>

  </body>
</html>
