@(topBarText: Html)(content: Html)

@mainTheme(topBarText) {

  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/agentmodel.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/colors.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/drawshape.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/defaultshapes.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/view.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/communication/connection.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/control/tortoise.js")'></script>

  <td width="38%">
    <pre class="netlogo-model hor_centered inner_box rounded background_backgrounded">
    <!--
to setup
  ca
  crt 50 [
    setxy random-xcor random-ycor
    set size 3
    set shape "person"
    create-link-with one-of other turtles
  ]
  reset-ticks
end

to go
  layout-spring turtles links 0.2 5 1
end
-->
    </pre>
  </td>

  @content

  <script type="text/javascript">
    var tortoise = initTortoise(exports.ChatGlobals.socketURL);
    exports.initChat(tortoise.sessions[0]);
  </script>

}
