@(topBarText: Html)(content: Html)

@mainTheme(topBarText) {

  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/agentmodel.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/colors.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/drawshape.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/defaultshapes.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/view.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/communication/connection.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/control/tortoise.js")'></script>

  <td width="38%">
    <pre class="netlogo-model hor_centered inner_box rounded background_backgrounded">
    </pre>
  </td>

  @content

  <script type="text/javascript">
    var tortoise = initTortoise(exports.ChatGlobals.socketURL);
    exports.initChat(tortoise.sessions[0]);
  </script>

}
