@(outputExtras: Html)

<div id="output_group" class="inner_box rounded not_full_height background_backgrounded" style="margin-left: 0; margin-right: 0;">
  <div class="tab_content full_height">
    <table id="ccContent" class="full_height" style="table-layout: fixed; width: 100%">
      <tr>
        @chatLog()
        @outputExtras
      </tr>
    </table>
    <div id="infoContent" class="full_height full_width hidden_tab_content">
      <div class="not_full_width rounded tab_inner_content" style="overflow-y: scroll;">
      </div>
    </div>
    <div id="codeContent" class="full_height full_width hidden_tab_content">
      <div class="not_full_width rounded tab_inner_content">
      </div>
    </div>
  </div>
</div>
