@()(implicit request: RequestHeader)
<html>
  <head>
  </head>
  <body>
    <input type="button" onclick="session.run('observer', 'setup');" value="setup"></input>
    <input type="button" onclick="session.run('observer', 'go');" value="go"></input>
    <pre class='netlogo-model'
         data-url='@controllers.local.routes.Local.handleSocketConnection().webSocketURL()'
         style='width: 500px;'
         data-src='/assets/modelslib/Sample%20Models/Biology/Autumn.nlogo'
         >
to setup
  ca
  crt 50 [
    setxy random-xcor random-ycor
    set size 3
    set shape "person"
    create-link-with one-of other turtles
  ]
  reset-ticks
end

to go
  layout-spring turtles links 0.2 5 1
  tick
end
    </pre>
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("07.31.2013/src/ace.js"))'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/ace/global-ace-init.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/agentmodel.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/colors.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/drawshape.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/defaultshapes.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/agent/view.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/communication/connection.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/TortoiseJS/control/tortoise.js")'></script>
    <script type="text/javascript" src='@controllers.local.routes.Local.compat'></script>
    <script type="text/javascript" src='@controllers.local.routes.Local.engine'></script>
    <script type="text/javascript">
      var session = tortoise();
    </script>
  </body>
</html>

