@()(implicit request: RequestHeader)

@views.html.common.component.netLogoView(component.topBarText()) {

  <script type="text/javascript" charset="utf-8">
    var socketURL = "@controllers.local.routes.Local.handleSocketConnection().webSocketURL()";
  </script>

  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/underscore-1.4.2.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/mousetrap-1.1.1.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/exports-init.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/textholder.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/linkedhashset.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/doublelist.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/meta/css.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/chat.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/event/chat-events.js")'></script>

  <td width="3%"></td>
  <td height="100%">
    @views.html.common.component.chatPane()
  </td>

}
