@()(implicit request: RequestHeader)

@views.html.core.component.netLogoView(component.topBarText()) {

  <script type="text/javascript" src='@controllers.local.routes.Local.compat'></script>
  <script type="text/javascript" src='@controllers.local.routes.Local.engine'></script>
  @views.html.core.component.clientImports("chat-local-module")

  <td width="3%"></td>
  <td height="100%">
    @views.html.core.component.chatPane(Html(""))
  </td>

  <script type="text/javascript" charset="utf-8">
    exports.ChatGlobals.socketURL = '@controllers.local.routes.Local.handleSocketConnection().webSocketURL()';
    window.addEventListener('load', function() {
      session.openURL('/assets/modelslib/Sample%20Models/Earth%20Science/Climate%20Change.nlogo');
    });
  </script>

  @views.html.core.component.lateInitScripts()
}

