<html>
  <head>
    <title>Tortoise</title>
    <link rel="stylesheet" href='@routes.Assets.at("lib/chosen/chosen.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("lib/codemirror/lib/codemirror.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bizzle/bizzle-classes.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/widgets.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/classic.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/netlogo-syntax.css")' />
  </head>
  <body>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px; max-width: 900px; align-items: center;">
      <div style="width: 320px;">
        <h3>Find a Built-In Model</h3>
        <div class="model-list tortoise-model-list" style="width: 300px"></div>
      </div>
      <h3 style="width: 30px;"> or </h3>
      <div style="">
        <h3>Upload a Model</h3>
        <input id="model-file-input" type="file" name="model" />
      </div>
    </div>
      <div id="model-container"></div>
  </body>
  <script src='@routes.Assets.at("lib/jquery/jquery.js")' type="text/javascript"></script>
  <script type="text/javascript" src='@routes.Assets.at("lib/chosen/chosen.jquery.js")'></script>
  <script src="@routes.Assets.at("lib/markdown-js/markdown.js")"></script>
  <script src="@routes.Assets.at("lib/highcharts/adapters/standalone-framework.js")"></script>
  <script src="@routes.Assets.at("lib/highcharts/highcharts.js")"></script>
  <script src="@routes.Assets.at("lib/highcharts/modules/exporting.js")"></script>
  <script src="@routes.Assets.at("lib/ractive/ractive.js")"></script>
  <script src="@routes.Assets.at("lib/codemirror/lib/codemirror.js")"></script>
  <script src="@routes.Assets.at("lib/codemirror/addon/mode/simple.js")"></script>
  <script>
    var exports = {};
  </script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/models.js")'></script>
  <script src="@controllers.local.routes.Local.engine"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/colors.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/drawshape.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/defaultshapes.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/view.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/editor.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/agent/widgets.js")"></script>
  <script src="@routes.Assets.at("javascripts/TortoiseJS/control/session-lite.js")"></script>
  <script src="@routes.Assets.at("javascripts/plot/highchartsops.js")"></script>
  <script>
    var modelContainer = document.querySelector('#model-container');
    var session        = null; // initialized in callback;
    var urlPrefix      = location.protocol + '//' + location.host + '/assets/modelslib/';
    var url            = urlPrefix + 'Sample%20Models/Biology/Wolf%20Sheep%20Predation.nlogo';
    if (window.location.hash) {
      url = window.location.hash.substring(1);
    }

    document.querySelector('#model-file-input').addEventListener('change', function (event) {
      var reader = new FileReader();
      reader.onload = function (e) {
        openNlogo(e.target.result);
      };
      reader.readAsText(this.files[0]);
    });

    function pickModel(url) {
      var encoded = encodeURI(urlPrefix + url);
      openURL(encoded);
    }

    function openURL(url) {
      window.location.hash = url;
      if (decodeURI(url) === url) {
        url = encodeURI(url);
      }
      if (session) {
        session.teardown();
      }
      Tortoise.fromURL(url, modelContainer, function (res) {
        session = res;
        session.startLoop();
      });
    }

    function openNlogo(nlogoContents) {
      window.location.hash = "";
      if (session) {
        session.teardown();
      }
      Tortoise.fromNlogo(nlogoContents, modelContainer, function (res) {
        session = res;
        session.startLoop();
      });
    }

    exports.bindModelChooser($('.model-list'), pickModel);

    openURL(url);
  </script>
</html>
