@(username: String)(implicit request: RequestHeader)

@demo(Some(username)) {
  <script type="text/javascript" charset="utf-8">
      var socketURL = "@routes.Remote.handleSocketConnection(username).webSocketURL()";
  </script>

  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/underscore-1.4.2.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/mousetrap-1.1.1.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/exports-init.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/textholder.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/linkedhashset.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/doublelist.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/meta/css.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/chat.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/event/chat-events.js")'></script>

  <td width="3%"></td>
  <td height="100%">
    <div id="errorPane" class="alert-message error">
      <p>
        <strong>Oops!</strong> <span></span>
      </p>
    </div>
    @chatPane()
  </td>
}
