@(username: Option[String])(content: Html)

@main(username) {
  <script type="text/javascript" src='@routes.Assets.at("javascripts/agent/agentmodel.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/agent/colors.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/agent/drawshape.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/agent/shapes.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/agent/view.js")'></script>

  <td width="38%">
    <div class="view-container hor_centered inner_box rounded background_backgrounded ">
      <input type="button" value="setup" />
      <input type="checkbox" name="go" />
    </div>
  </td>

  @content
  <script type="text/javascript">
    var controller;
    function init() {
      var container = document.getElementsByClassName("view-container")[0];
      controller = new AgentStreamController(container);
    }
    if (!window.onload) {
      window.onload = init;
    } else {
      var oldInit = window.onload;
      window.onload = function () {
        oldInit();
        init();
      }
    }
  </script>
}
