@core.component.mainTheme{ <span class="brand">Editor Test Page</span> } {

  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/underscore-1.4.2.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/underscore-string-2.3.0.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/managed/ace/ace-6df9748a.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/util/exports-init.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/ace/global-ace-init.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/meta/css.js")'></script>

  <div id="editorWrapper" style="height: 100%"></div>

  <script type="text/javascript">
    var editor = ace.edit("editorWrapper");
    editor.setTheme("ace/theme/netlogo-classic");
    editor.getSession().setMode("ace/mode/netlogo");
    editor.setFontSize("14px");
    editor.setShowPrintMargin(false);
    exports.NLEditor = editor;
  </script>

}
