@import views.ViewUtils

@linkableHeader(rawHeaderID: String, header: String) = {
  @defining(ViewUtils.idSafe(rawHeaderID)) { headerId =>
    <a id="@headerId" class="anchor-header"></a>
    <div class="link-header">
      <a href="#@headerId" style="text-decoration: none; color: black; margin-right: 5px;">
        <img class="link-img" src="@routes.Assets.versioned("images/link.svg")" />
      </a>
      <h2>@header</h2>
    </div>
  }
}

<div class="inner-content" style="margin: 0 10%; text-align: justify">

  @linkableHeader("overview", "What is NetLogo Web?")

  <p>NetLogo Web is a version of the <a href="http://ccl.northwestern.edu/netlogo">NetLogo</a> modeling environment that
     runs entirely in the browser. One of the immediate goals of the project
     is to provide a suitable replacement for the NetLogo applet
     functionality, and, in doing so, once again make NetLogo models easy for
     users to put on the web for others to try. NetLogo Web
     runs on more platforms than Desktop NetLogo, including tablets, phones
     and Chromebooks. In the longer run, NetLogo Web will have most of the
     features of Desktop NetLogo.</p>

  @linkableHeader("picking-a-netlogo", "How do I know which edition of NetLogo is right for me?")

  <p>The desktop edition of NetLogo is more polished and fully-featured
     than NetLogo Web. So, for now, we recommend using NetLogo Web <strong>only if</strong> one or more of the following describes your desired use of NetLogo:</p>

  <ul>
    <li>I want to use NetLogo on a platform that it does not otherwise run on (e.g., iPad, iPhone, Android, Chromebook)</li>
    <li>I want to embed a NetLogo model in a web page</li>
    <li>I want to distribute a NetLogo model without requiring my audience to have an existing NetLogo installation</li>
  </ul>

  <p>The quality gap between NetLogo Web and NetLogo is fairly large right
     now, but we intend to greatly narrow that gap over the course of the
     coming years, prioritizing features that are important to large portions
     of the user community. Even if NetLogo Web doesn't meet all of your
     needs today, be sure to stay tuned as we work to improve NetLogo Web and
     expand its feature set.</p>

  @linkableHeader("features", "What features are currently available in NetLogo Web?")

  <ul>
    <li>Most of the NetLogo programming language</li>
    <li>The Command Center</li>
    <li>Editable "Code" and "Info" tabs</li>
    <li>Widgets</li>
    <li>Authoring support</li>
    <li>The ability to export models for use in the desktop edition of NetLogo</li>
    <li>The ability to export models as standalone HTML pages</li>
  </ul>

  @linkableHeader("deficiencies", "What features of NetLogo does NetLogo Web lack at the moment?")

  <ul>
    <li>High performance</li>
    <li>Extensions</li>
    <li>Reading from and writing to external files</li>
    <li>3D models and the "3D View" of 2D models</li>
    <li>HubNet</li>
    <li>BehaviorSpace</li>
    <li>Other less-central NetLogo features (e.g., System Dynamics Modeler)</li>
    <li>NetLogo language primitives relating to any of the above</li>
    <li>NetLogo language primitives relating to some kinds imports and exports</li>
  </ul>

  <p>That said, there are very few things in NetLogo that have been left
     out of the long-term development plan for NetLogo Web. If support for
     your favorite primitive or feature is not currently available, it is
     likely forthcoming. We appreciate your patience as we work to reproduce
     functionality that has been developed and honed over more than fifteen
     years of NetLogo development, in our goal to make NetLogo Web the best
     product we can.</p>

  @linkableHeader("converting-models", "How do I know if my model will work in NetLogo Web?")

  <p>NetLogo Web opens with a randomly selected model. To load another
     model, you may select a model from the drop-down menu
     of models from the NetLogo Web Models Library (Search the Models Library) or
     use the button next to "Upload a Model" to open a Desktop NetLogo model of your own.</p>

  <p>Most NetLogo library models work in NetLogo Web. In the NetLogo Web
     models library drop-down menu, models that work in NetLogo Web are
     selectable, whereas the models that don't yet work in NetLogo Web are
     grayed out.  Some selectable models may not work exactly as their
     NetLogo counterparts. Some grayed out models can easily be modified in
     Desktop NetLogo so that they run in NetLogo Web. </p>

  <p>To evaluate whether a model of your own will run in NetLogo Web
     today, you can use the "Upload a Model" button to open it in NetLogo
     Web.  If the conversion process encounters an error, you will get
     feedback about what aspects of your model are not yet supported.</p>

  <p>That said, here are some general rules for telling ahead of time
     whether or not a model will work in the current version of NetLogo Web:</p>

  <ul>
     <li>If your model only uses NetLogo features that are commonly used in
        the NetLogo Models Library, it is very likely that your model will work</li>
     <li>If your model uses extensions, file primitives, movie primitives, or any
         of the other <a href="https://github.com/NetLogo/Tortoise/wiki/Unimplemented-Primitives">
         currently-unimplemented primitives</a>, it <strong>will not</strong> work</li>
     <li>If your model uses the <code>wait</code> or <code>display</code> primitives, it generally <strong>will not</strong> work</li>
  </ul>

  <p>If you're still not sure if your model will work or not, we encourage
     you to simply open your model in NetLogo Web and see for yourself.</p>

  <p>NetLogo Web is in continuous development. As NetLogo features are
     ported over to NetLogo Web, many models that previously could not be
     opened in NetLogo Web will automatically become runnable.</p>

  @linkableHeader("creating-models", "How can I write new models with NetLogo Web?")

  <p>Click the "File: New" button in the top-right of any NetLogo Web model
     in order to open a fresh model.</p>

  <p>For further information about NetLogo's authoring tools, please see
     <a href="/docs/authoring">"Authoring in NetLogo Web"</a>.</p>

  @linkableHeader("loading", "How can I open a model in NetLogo Web?")

  <p>Firstly, the NetLogo Models Library is easily accessible in NetLogo
     Web. To open a model from the Models Library, simply select it in the
     "Search the Models Library" dropdown.  In that dropdown, models that
     work in NetLogo Web are selectable, while models that don't work yet
     are grayed out.</p>

  <p>The other option for opening models in NetLogo Web is to click the
     file-selection button labelled "Upload a Model", and then select
     a model on your computer. Note that opening a model in this way
     does <em>not</em> save your model remotely anywhere. In fact, the
     "Upload a Model" file picker simply asks your web browser to open
     a file from your computer in such a way that the model never even
     leaves your computer when it is "uploaded".</p>

  @linkableHeader("saving", "How can I save models from NetLogo Web?")

  <p>If you would like to save the model that is currently open in NetLogo
     Web (including any changes that you might have made to it), NetLogo Web
     offers two different ways of doing so.</p>

  <p>If you would like to keep your model as a NetLogo Web model and share
     it with others to view in the browser, you can click the "Export:
     HTML" button in NetLogo Web to generate a single HTML file of your
     model.  Like any other HTML file, files generated in this way can then
     be <a href="/info#hosting-nlw-files">hosted on a website</a> and viewed
     in any modern browser.</p>

  <p>If you are interested in saving the model for use in the desktop
     version of NetLogo, the "Export: NetLogo" button can be used to do
     so.  This will generate a traditional ".nlogo" file that has a name
     of your choosing, which will be placed in your computer's
     "downloads" directory and can then be opened once again in either
     NetLogo or NetLogo Web.</p>

  <p>With a model downloaded from NetLogo Web, you can use the desktop
     version of NetLogo, make whatever changes to the model that you
     would like, save those changes, and then open the new version of
     the model in NetLogo Web (using "Upload a Model" in NetLogo Web, like before).</p>

  @linkableHeader("hosting-nlw-files", "What are my options for hosting NetLogo Web files?")

  <p>Unfortunately, free and simple-to-use hosting services are surprisingly few
     in number these days.  We realize that this makes things difficult for many
     of our users, and we definitely plan to provide our own service that makes
     this easier for people in the future.  For the time being, though, there
     are still a couple of options that we can suggest, based on what kind of
     files you would like hosted.</p>

  <p>If you're just looking to host <code>.nlogo</code> files, you can use
     <a href="https://www.dropbox.com/help/16">Dropbox</a> or
     <a href="http://www.labnol.org/internet/free-file-hosting-github/29092/">GitHub</a>
     or basically any service that allows linking directly to hosted files.
     Once your <code>.nlogo</code> file has been hosted somewhere, follow
     <a href="/info#generate-simple-pages">the page-generation instructions</a>,
     and share the <code>//netlogoweb.org/web?<strong>modelURL</strong></code>
     link, using the <code>.nlogo</code> file URL from your hosting service as
     the <code><strong>modelURL</strong></code> value.</p>

  <p>Another option for linking directly to pages containing NetLogo Web models
     is to use the <a href="http://modelingcommons.org">Modeling Commons</a>,
     which is a public space for uploading, sharing, and discussing NetLogo
     models.  All models uploaded to the Modeling Commons have integration with
     NetLogo Web through the "Run in NetLogo Web" tab on the model's page.  For
     any model, if you open that "Run" tab and then copy your browser's current
     URL, that URL can be used for direct access to the NetLogo Web version of
     the model.</p>

  <p>If you want to host an HTML standalone model (as generated by following the
     instructions in <a href="/info#saving">the section about "Export: HTML"</a>,
     then your options are more limited.  One option is to
     <a href="https://pages.github.com/">use GitHub Pages</a>, or some other
     <a href="https://www.google.com/#q=static+web+host">static web host</a>.
     Advanced users might even be comfortable with simply hosting the HTML files
     for themselves on a public-facing web server.</p>

  <p>That said, hosting a <code>.nlogo</code> file on your own web server is
     more complicated, though.  To do that, host the file, and make sure that
     your web server allows it to be accessed cross-origin.  To do this, you
     might need to have the server set the <code>Access-Control-Allow-Origin</code>
     header in the <code>.nlogo</code> file's HTTP response to either <code>*</code>
     or whichever NetLogo Web domain you're using (i.e.
     <code>http://netlogoweb.org</code> or <code>https://netlogoweb.org</code> or
     <code>http://netlogo-web.org</code> or <code>https://netlogo-web.org</code>).
     Then, follow the instructions given <a href="/info#generate-simple-pages">here</a>,
     and share your model through the <code>//netlogoweb.org/web?<strong>modelURL</strong></code>
     link, using the URL of the model on the web server for the
     <code><strong>modelURL</strong></code> value.</p>

  @linkableHeader("generate-simple-pages", "Is there an automatic way to generate a model page every time I create a new version of my model?")

  <p>You can link to <code>//netlogoweb.org/web?<strong>modelURL</strong></code>
     (where <code><strong>modelURL</strong></code> is the URL of your model).  Every
     time someone goes to that link (or an iframe is loaded that uses that link as
     the source URL), the most recent version of your model will be fetched from
     <code><strong>modelURL</strong></code> and turned into a simple model page.</p>

  <p>While this generally should not be a problem, this method requires
     having an active connection to our website (netlogoweb.org) in order
     to work, unlike normal standalone NetLogo Web pages, which can be
     hosted entirely on your own server.</p>

  @linkableHeader("error-messages", "I got an error, but most things in the model seem to be working just fine.  What was the error message about?")

  <p>If you enter code into the Command Center and that code is invalid in NetLogo Web,
     you will receive an error message, and your code may not get fully executed.</p>

  <p>If you get an error when the model is first loaded up, but can't tell what's going wrong,
     it's probably because one of the widgets (e.g. a Plot or Slider) contains code
     that is currently invalid in NetLogo Web.  The widget will not work correctly, but the
     parts of the model that did not generate errors will continue to be operable.</p>

  <p>If you get an error only when you click a button, it usually suggests that the particular
     button contains code that is currently invalid in NetLogo Web.  That button will be unusable,
     but the parts of the model that did not generate errors will continue to be operable.</p>

  @linkableHeader("type-errors", "What is a \"type error in the simulation engine\", and how do I fix it?")

  <p>A <strong>type error</strong> in general indicates that a function received one or more arguments
     that it didn't know how to operate on.  One example of a type error in NetLogo code would be
     <code>(turtle 0) + (turtle 1)</code>, since the <code>+</code> function doesn't know how to add
     turtles together.</p>

  <p>When we talk about a type error occurring in the simulation engine, we mean that this kind of
     error happened in the JavaScript code that is running in the browser.  The fact that these errors
     occurred in JavaScript, though, does not necessarily indicate that the simulation engine is the culprit.
     In fact, the vast majority of these sorts of errors are caused by ill-formed NetLogo code for
     which the engine does not yet know how to report nice errors.  In desktop NetLogo, you always
     get informative type errors, but, unfortunately, NetLogo Web's error-reporting functionality
     is not yet complete enough to always give smart errors.</p>

  <p>The area where NetLogo Web's error-reporting is poorest at the moment is in
     cases like <code>ask n []</code> (where <code>n</code> is a number, or really anything but an agent or
     agentset).  If <code>ask</code> were passed a literal value instead of a variable like <code>n</code>,
     the compiler would usually just refuse to compile code that doesn't typecheck, and it would tell
     you exactly what went wrong.  Unfortunately, in NetLogo, static typechecking goes out the window
     when variables are introduced, forcing the engine to fall back on runtime typechecking.  Even more
     unfortunately, NetLogo Web's runtime typechecking is very poor at the moment.</p>

  <p>As for how to fix these errors, that is difficult for now.  There is not a lot that the average user
     can reasonably be expected to do until we implement proper error-reporting for type errors.  Advanced
     users might find some hints in the JavaScript error that gets printed out.  We recommend reproducing
     the error in desktop NetLogo to get a proper error message, or, if that's not possible, then trying to
     bisect your model's code until you find the source of the error.</p>

  @linkableHeader("model-format-error", "NetLogo Web is saying that it \"Couldn't find corresponding reader\" or \"Models must have 12 sections\".  How can I fix these errors?")

  <p>If the error message is "Models must have 12 sections, this had 1", the problem is
     likely that the uploaded file is not actually a NetLogo model.  Please verify that
     you can open this file in the desktop version of NetLogo before proceeding.</p>

  <p>If you got the "Couldn't find corresponding reader" error or the "Models must have 12
     sections" error with a number at the end other than 1, this usually indicates an
     attempt to load a model that was saved in an old version of NetLogo.  Please note
     that NetLogo Web only guarantees compatibility with the latest version of NetLogo.</p>

  <p>The easiest way to fix this problem is to open the model in the latest version of
     NetLogo, allow NetLogo to automatically convert the old model, save the
     auto-converted model, and attempt to open the newly-converted version of the model in
     NetLogo Web.</p>

  <p>If NetLogo Web complains that it cannot load this newly-converted model due to
     unimplemented primitives (especially those whose names start with underscores), you
     may need to slightly rewrite some of the code.  See the
     <a href="https://ccl.northwestern.edu/netlogo/docs/transition.html">NetLogo
     transition guide</a> for more details on how to do that for the particular version of
     NetLogo that your model came from.</p>

  @linkableHeader("unresponsive-browser", "My browser is telling me that the page is unresponsive.  What's going on?")

  <p>Your computer is working very hard to execute some NetLogo Web code.
    This is especially likely to occur when trying to do something that involves
    a very large number of agents.  Unless you've done something to enter an infinite
    loop, we recommend just giving NetLogo Web some time to finish its task.  If you
    <strong>have</strong> entered an infinite loop, the recommended solution is to
    terminate the browser tab.</p>

    @linkableHeader("repeat-go", "I want to run my 'go' procedure many times with 'repeat', but it doesn't update the view!")

    <p>A common NetLogo task is to run a procedure a number of times and then stop.  This is easy to do by using code like: <code>repeat 10 [ go ]</code> or <code>repeat 50 [ my-proc ]</code>.  In desktop NetLogo, if your procedure uses <code>tick</code>, then the view will also update for each time the procedure is called.  In NetLogo Web, however, no visual updates will happen until all repeats of the procedure are complete.  This is due to technical limitations of the browser environment.</p>

    <p>There is an easy workaround, it just requires a couple small changes to the model.  Use a button in your model set to run forever and have that forever button run a repeat/count procedure.  Inside that procedure, you can count ticks using a global variable and call <code>stop</code> once you've reached your tick count limit.  This will allow view updates to happen, run the required number of steps, and then stop execution as expected.</p>

    <code>    ; this assumes you have a global variable, 'ticked', declared and set to 0 in 'setup'
    ; and a procedure named 'go' to run.  Just run this proc in a forever button.
    to go-repeat
      set ticked (ticked + 1)
      go
      ; can change 100 to whatever number of ticks you'd prefer
      if (ticked > 100) [
        ; resetting the ticked value before we stop lets people re-press the buttom
        ; to run another 100 ticks
        set ticked 0
        stop
      ]
    end
    </code>

  @linkableHeader("performance", "Why does everything seem so much slower in NetLogo Web?")

  <p>There are a couple of reasons for this.  One of the big ones is that the
     the desktop edition of NetLogo has about fifteen years of development work
     behind it, and a lot of that was spent on improving performance.  With
     NetLogo Web, our foremost concern has been feature parity.  NetLogo Web is
     still very young and has a lot of catching up to do, so we don't plan to
     focus hard on performance for a while yet.</p>

  <p>Another of the reasons has to do with the maturity of the platforms that
     these software packages run on.  The desktop edition of NetLogo runs on the
     Java Virtual Machine, whereas NetLogo Web, in the browser, runs on a variety
     of different JavaScript engines.  The Java Virtual Machine tends to be faster
     than <strong>any</strong> JavaScript engine, and some JavaScript engines are
     substantially faster than others.  We find that Google Chrome tends to offer
     the best performance with NetLogo Web.</p>

  @linkableHeader("reporting-problems", "I'm using NetLogo Web and everything's broken! What should I do?")

  <p>We recommend first trying to solve the problem by refreshing the
      page. If that doesn't fix it, we encourage you to report your problem to
      us at <a href="mailto:bugs@@ccl.northwestern.edu">bugs@@ccl.northwestern.edu</a>.</p>

  @linkableHeader("modifying-underlying-code", "I don't like the way that a particular something was done in NetLogo Web. I want to change it!")

  <p>One of the great things about running directly in the browser is how
     easy it is to modify content. If you want to tinker with things in
     NetLogo Web, go for it! You're entirely free to save a standalone
     NetLogo Web page and create your own stylesheets or mess with the page's
     JavaScript—at your own risk, of course. We do ask that you leave the
     "powered by NetLogo" text in its place. If you think the changes
     you've made would be useful for others, you might even consider
     contributing them to NetLogo Web proper (see the next topic, below).</p>

  @linkableHeader("contributing-changes", "How can I contribute changes to the NetLogo Web project?")

  <p>Like NetLogo, NetLogo Web is open-source and hosted on GitHub. The relevant repositories for the project are <a href="https://github.com/NetLogo/Galapagos">Galapagos</a> (for the web interface), <a href="https://github.com/NetLogo/Tortoise">Tortoise</a> (for the simulation engine and compiler back-end), and <a href="https://github.com/NetLogo/NetLogo-Headless">NetLogo-Headless</a> (for the compiler front-end).</p>

  <p><a href="https://help.github.com/articles/using-pull-requests/">Pull requests</a>
     to these repositories are welcome. If you would like to talk to any of
     the NetLogo team about some proposed changes of yours, feel free to drop
     by the relevant repository's chat room <a href="https://gitter.im/NetLogo">on Gitter</a>, where we'll be glad to discuss things with you.</p>

  @linkableHeader("funding", "NetLogo Web is freely available and doesn't bombard me with ads—how is this project funded?")

  <p>One important source of NetLogo Web's funding is generous community
     donations. If you're interested in making a donation to the NetLogo
     project, please visit our donation page <a href="http://ccl.northwestern.edu/netlogo/giving.shtml">here</a>.</p>

  <p>Above all else, we gratefully acknowledge that the National Science
     Foundation has been the primary funder of NetLogo Web (grant number
     IIS-1147621). We also appreciate the support from Concord Consortium.</p>

  <p>NetLogo Web was also made by possible by building on top of the
     previous two decades of NetLogo funding. Much of the support over the
     years came from the National Science Foundation -- grant numbers
     REC-9814682 and REC-0126227, with further support from REC-0003285,
     REC-0115699, DRL-0196044, CCF-ITR-0326542, DRL-REC/ROLE-0440113,
     SBE-0624318, EEC-0648316, IIS-0713619, DRL-RED-9552950, DRL-REC-9632612,
     DRL-DRK12-1020101, IIS-1441552, CNS-1441016, CNS-1441041, IIS-1438813,
     and REC-1343873. Yet more support for NetLogo over the years was
     provided by the Spencer Foundation, Texas Instruments, the Brady Fund,
     and the Northwestern Institute on Complex Systems.</p>

  <p>Any opinions, findings, and conclusions or recommendations expressed
     in this material are those of the author(s) and do not necessarily
     reflect the views of the National Science Foundation.</p>

  @linkableHeader("contact-us", "I have comments or questions that weren't answered here. How can I get in touch with you?")

  <p>For NetLogo or NetLogo Web feedback, please send email to <a href="mailto:feedback@@ccl.northwestern.edu">feedback@@ccl.northwestern.edu</a> and for bug reports, please send email to <a href="mailto:bugs@@ccl.northwestern.edu">bugs@@ccl.northwestern.edu</a>.
     We greatly value your comments, feature requests, observations, and bug
     reports.  Please make sure to specify in your email that you are using
     NetLogo Web. You can also consult <a href="http://ccl.northwestern.edu/netlogo/docs/contact.html">this page</a> to determine where best to get in touch.</p>

</div>
