@import views.ViewUtils

@()(implicit request: Request[?])

@linkableHeader(rawHeaderID: String, header: String) = {
  @defining(ViewUtils.idSafe(rawHeaderID)) { headerId =>
    <a id="@headerId" class="anchor-header"></a>
    <div class="link-header">
      <a href="#@headerId" style="text-decoration: none; color: black; margin-right: 5px;">
        <img class="link-img" src="@routes.Assets.versioned("images/link.svg").relative" />
      </a>
      <h2>@header</h2>
    </div>
  }
}

<div class="inner-content" style="margin: 0 10%; text-align: justify">

  <h1>Hosting and Sharing NetLogo Web Models</h1>

  <p>This page covers how to host your NetLogo model files on the web, how to create shareable links and embeddable links
    using NetLogo Web, and how to use version-pinned embeddable links for reproducibility.</p>

  @linkableHeader("hosting-nlw-files", "What are my options for hosting and sharing NetLogo Web files?")

  <p>If you want to share your NetLogo model in a way that won't require users to open the model in NetLogo desktop or
    upload it to NetLogo Web, you will need a website host to store your files and display them. If you already have a
    website, then you have a website host and can skip the rest of these recommendations. If you don't have a website, one
    popular option for a simple static website host is <a
    href="https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site">GitHub
    Pages</a>. Common website platforms like Wix and SquareSpace should support hosting NetLogo models or static HTML
    files. There are many other options, and all you need is <a
    href="https://duckduckgo.com/?t=h_&amp;q=static+website+hosting&amp;ia=web">a simple, static website</a> in order to
    host NetLogo models. In the future, we're hoping to provide a service just for hosting NetLogo models to make things
    even simpler.</p>

  <p>Once you have a website host, the next choice you have is to post your models as standard <code>.nlogox</code>
    files and hotlink them to NetLogo Web, or to post exported HTML files of your models. If you plan to post many models,
    or expect to make updates to models fairly frequently, hotlinking to NetLogo files will likely be easier as you won't
    have to re-export new HTML pages each time you make an update. If you are just posting a single model as a one-time
    thing, then posting the exported HTML page might be simpler. Below are some further benefits to each method.</p>

  <p>Benefits to hotlinking your model to netlogoweb.org:</p>

  <ul>
    <li>Network resource usage will be reduced. Every hot-linked model uses the same code from netlogoweb.org, which
      your web browser can cache and re-use. If you have multiple models on a page, this will greatly reduce the download
      size of your pages and speed up loading times as models are much smaller than exported HTML files.</li>
    <li>The update process is simpler. When you update your model where it's posted on your website host, the places you
      link to it will also be updated. You do not have to re-export and post a new HTML file with each model update.</li>
    <li>Your model will automatically get bug fixes, performance enhancements, and other improvements that are made to
      NetLogo Web.</li>
  </ul>

  <p>If you want to hotlink your model, see <a href="#hotlinking">the hotlinking section below</a> for more
    information.</p>

  <p>Benefits to using a static HTML export with "Save as NetLogo Web":</p>

  <ul>
    <li>No network access to another site (netlogoweb.org) is required. The model and code to run it are self-contained.
      This can be a benefit in an environment where network access is very restricted.</li>
    <li>You do not have to worry about setting up cross-origin resource sharing (CORS) access from your website host to
      <code>netlogoweb.org</code>. CORS settings are common and usually easy to change for most website hosts, but if your
      host is restrictive you may need to use exported HTML files for your models instead. More information on CORS is in
      <a href="#cors">the CORS section below</a>.</li>
  </ul>

  <p>If you want to post the static HTML version of your model, your website host's documentation should include
    information on how to do so.</p>

  <p>Another option for sharing your model and linking directly to pages containing NetLogo Web models is to use the <a
    href="https://modelingcommons.org">Modeling Commons</a>, which is a public space for uploading, sharing, and
    discussing NetLogo models. All models uploaded to the Modeling Commons have integration with NetLogo Web through the
    <strong>Run in NetLogo Web</strong> tab on the model's page. For any model, if you open that <strong>Run in NetLogo
    Web</strong> tab and then copy your browser's current URL, that URL can be used for direct access to the NetLogo Web
    version of the model.</p>

  @linkableHeader("hotlinking", "How do I create a runnable link to share or embed on my website (hotlinking)?")

  <p>There are two kinds of hotlinks you can create for your model, depending on how you want it to be used.  Both
    require your model to be posted on a website host accessible to the Internet.  See <a
    href="#hosting-nlw-files">the hosting options section above</a> for more information.  You can use the
    <a href="/model-linker">NetLogo Web Model Link Creator</a> to generate either type of link automatically.</p>

  <h3 id="shareable-links">Shareable Links</h3>

  <p>A shareable link opens the full NetLogo Web interface with menus, toolbar, and all.  It is the best choice when you want
    someone to be able to run, explore, or modify the model, and is well-suited to sharing via email, social media, or a
    course page.</p>

  <ul>
    <li>Get the URL of your model as posted on your website host.
      <ul><li>For example: <code>https://octocat.github.io/MyNetLogoModel.nlogox</code></li></ul>
      </li>
    <li>Create a shareable link using <code>https://netlogoweb.org/launch#myModelURL</code>.
      <ul><li>For example: <code>https://netlogoweb.org/launch#https://octocat.github.io/MyNetLogoModel.nlogox</code></li></ul>
      </li>
    <li>Open the link in a web browser to confirm your model loads and runs correctly.</li>
  </ul>

  <h3 id="embeddable-links">Embeddable Links</h3>

  <p>An embeddable link loads a borderless view of your model.  It will have no NetLogo Web menus or toolbar, which is
    appropriate for placing in an <code>iframe</code> on your own website.  Embeddable links also support
    <a href="#version-pinning">version pinning</a>.</p>

  <ul>
    <li>Get the URL of your model as posted on your website host.
      <ul><li>For example: <code>https://octocat.github.io/MyNetLogoModel.nlogox</code></li></ul>
      </li>
    <li>Create an embeddable link using <code>https://netlogoweb.org/web?url=myModelURL</code>.
      <ul><li>For example: <code>https://netlogoweb.org/web?url=https://octocat.github.io/MyNetLogoModel.nlogox</code></li></ul>
      </li>
    <li>Open the link in a web browser to confirm your model loads and runs correctly.</li>
    <li>On the page where you want to display the model, add an <code>iframe</code> element whose <code>src</code>
      is your embeddable link.</li>
  </ul>

  <p>For example, here is what a basic HTML page that embeds the model might look like:</p>

<pre><code>&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;NetLogo Model Embedding Example&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;NetLogo Model Embedding Example&lt;/p&gt;
    &lt;iframe
      src=&quot;https://netlogoweb.org/web?url=https://octocat.github.io/MyNetLogoModel.nlogox&quot;
      width=&quot;600&quot; height=&quot;600&quot;&gt;
    &lt;/iframe&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>

  <p>By default, both link types always run your model using the latest version of NetLogo Web.  If you need embeddable links
    that stay fixed to a specific version, see <a href="#version-pinning">the version-pinned links section below</a>.</p>

  <h3 id="cors">Cross-Origin Resource Sharing (CORS)</h3>

  <p>One common issue in hotlinking models is making sure that your website host allows
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/CORS">cross-origin resource sharing
    (CORS)</a> with NetLogo Web. Essentially this is a way for your website host to tell the web browser that it's okay for
    NetLogo Web to load resources, even though they are different websites. Some website hosts, such as GitHub Pages, are
    permissive by default and you won't have to make any changes to get them to work. If your website host is not
    permissive by default, you might need to have your host set the <code>Access-Control-Allow-Origin</code> header in the
    <code>.nlogox</code> file's HTTP response to either <code>*</code> or whichever NetLogo Web domain you're using,
    <code>https://netlogoweb.org</code> or <code>https://netlogo-web.org</code>. This is a common setting for website
    hosts, and they should include some way to update it for your website's files.</p>

  @linkableHeader("version-pinning", "Version-Pinned Embeddable Links")

  <p>Embeddable links use the latest version of NetLogo Web by default.  This means your models automatically
    receive new features, performance improvements, and bug fixes over time as we continue to work on NetLogo Web.
    However, there are situations where you may want an embeddable link to run your model against a specific, fixed version of
    NetLogo Web instead:</p>

  <ul>
    <li><strong>Research reproducibility</strong> - ensure that others running your model get the exact same NetLogo Web
      behavior you used when collecting results.</li>
    <li><strong>Bug workarounds</strong> - if a newer version of NetLogo Web introduced a regression that affects your
      model, you can pin to an older version while waiting for a fix.</li>
    <li><strong>Avoiding breaking changes</strong> - new versions of NetLogo Web occasionally change behavior in ways
      that may affect your model.</li>
  </ul>

  <p>Version-pinned links use a specific versioned build of NetLogo Web instead of the latest release.  They look
    like standard hotlinks but use a versioned path:</p>

  <ul>
    <li>Latest (default): <code>https://netlogoweb.org/standalone?url=myModelURL</code></li>
    <li>Pinned to a version: <code>https://netlogoweb.org/versions/2.14.2?url=myModelURL</code></li>
  </ul>

  <p>To generate shareable links, latest embeddable links, and version-pinned embeddable links all at once, use the
    <a href="/model-linker">NetLogo Web Model Link Creator</a>.  Paste your model's URL into the tool and it will
    generate ready-to-use links for every available option.</p>

</div>
