@()(implicit request: Request[_])

<div class="inner-content" style="padding: 3%;">
  <div class="dynamic-column-holder">
    <a href="@routes.Local.launch.relative" class="index-link flex2">
      <div class="index-button">
        <h2>NetLogo Web</h2>
        <img class="icon-button" src="@routes.Assets.versioned("images/netlogowebicon.png").relative" alt="NetLogo Web" />
        <ul class="properties-list" style="font-size: large">
          <li>Runs in Your Browser</li>
          <li>Basic Feature Set</li>
          <li>Functional on Mobile Devices</li>
        </ul>
      </div>
    </a>
    <a href="http://ccl.northwestern.edu/netlogo/" class="index-link flex2">
      <div class="index-button">
        <h2>NetLogo</h2>
        <img class="icon-button" src="@routes.Assets.versioned("images/desktopicon.png").relative" alt="NetLogo Desktop" />
        <ul class="properties-list" style="font-size: large">
          <li>Desktop App (requires download)</li>
          <li>Complete Feature Set</li>
          <li>High Performance</li>
        </ul>
      </div>
    </a>
  </div>

  <div style="font-size: xx-large; text-align: center; padding-top: 4%;">
    The desktop version of NetLogo is recommended for most uses
  </div>

  <br><br>

  <div style="font-size: x-large; text-align: center;">
    <a class="classic-blue" href="./docs/faq">See here for more information on how to use NetLogo Web</a>
  </div>

  <div style="text-align: center;">
    <a class="classic-blue" href="./launch#NewModel">Launch NetLogo Web with a blank model.</a>
  </div>

</div>
