@(tagBuilder: TagBuilder)(implicit request: Request[_], environment: play.api.Environment)

<!-- TODO -->
<html>
  <head>
    <meta charset="UTF-8">
    <base target="_parent" />
  </head>
  <body style="margin: 0px;">
    @tagBuilder.pathToHTML("lib/ractive/ractive.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/code-container.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/info.js")

    <!-- This can be used to insert NetLogo code into this page -->
    <script type="text/nlogo" id="nlogo-code" data-filename="model.nlogo"></script>

    <script>
      Ractive.DEBUG = @{environment.mode != play.api.Mode.Prod};
    </script>
  </body>
</html>
