@(connected: Option[String])(content: Html)

<!DOCTYPE html>

<html class="not_full_height">
    <head>
        <title>NetLogo Web Client</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/overrides.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle-colors.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bizzle.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/lib/jquery-1.7.1.min.js")' type="text/javascript"></script>
    </head>
    <body class="not_full_height">
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">NetLogo Web Client</a>

                    @connected.map { username =>
                        <p class="pull-right">
                          <span class="top_text">
                            @username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@routes.Application.index()">Disconnect</a>
                          </span>
                        </p>
                    }.getOrElse {
                        <form action="@routes.Application.client()" class="pull-right">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <button class="btn" type="submit">Sign in</button>
                        </form>
                    }
                    
                </div>
            </div>
        </div>

        <div class="container not_full_height">

            <div class="content contrast_backgrounded not_full_height">
                @content
            </div>

        </div>
        
    </body>
</html>
