<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NetTango Builder Iframe Test</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <iframe id="ntb-container" src="./nettango-player" title="NetTango Builder" scrolling="no"></iframe>
    <script type="text/javascript">
      window.addEventListener("message", (event) => {
        if (event.data !== null && typeof(event.data) === 'object' && event.data.type === "ntb-resize") {
          console.log("ntb-resize received:", event)
          const ntbContainer  = document.getElementById("ntb-container")
          ntbContainer.width  = event.data.width
          ntbContainer.height = event.data.height
        }
      })
    </script>
  </body>
</html>
