@import play.api.Mode

@(tagBuilder: TagBuilder)(implicit mode: Mode, request: Request[_], environment: play.api.Environment)

@extraHead = {
  @tagBuilder.pathToHTML("stylesheets/tortoise.css")
  @tagBuilder.pathToHTML("lib/chosen/chosen.css")
}

@content = {
  <div class="tortoise inner-content">
    <div class="model-selection-bar">
      <div>
        <label>Choose a base model:
            <span id="tortoise-model-list" class="model-list tortoise-model-list"></span>
        </label>
      </div>
      <div>
        <label>Upload a base model:
            <input id="model-file-input" type="file" name="model" />
        </label>
      </div>
      <div>
        <a href="https://github.com/NetLogo/Tortoise/wiki/Experimental:-NetTango-Builder">About the NetTango Builder</a>
      </div>
    </div>

    <div class="ntb-model-container">
      <iframe id="model-container" class="model-container" src="about:blank"></iframe>
    </div>
  </div>
}

@extraBody = {
  @tagBuilder.pathToHTML("lib/jquery/jquery.js")
  @tagBuilder.pathToHTML("lib/chosen/chosen.jquery.js")
  @tagBuilder.pathToHTML("javascripts/models.js")
  <script type="text/javascript">

    const modelContainer  = document.getElementById("model-container")
    window.modelContainer = modelContainer

    window.addEventListener("message", (e) => {
      if (e.data.type === "nlw-resize") {

        const isValid = (x) =>
          (typeof x !== "undefined" && x !== null)

        const height = e.data.height
        const width  = e.data.width

        if ([height, width].every(isValid)) {
          modelContainer.width  = width
          modelContainer.height = height
        }

      }
    })

    const fileInput = document.getElementById("model-file-input")
    fileInput.addEventListener("change", (event) => {
      const reader = new FileReader()
      reader.onload = (e) => {
        modelContainer.contentWindow.postMessage({
          nlogo: e.target.result,
          path:  fileInput.value,
          type:  "nlw-load-model"
        }, "*")
      }

      if (fileInput.files.length > 0) {
        reader.readAsText(fileInput.files[0])
      }
    })

    const pathSplits = location.pathname.split("/")
    const hostPrefix = `${location.protocol}//${location.host}${pathSplits.length > 2 ? "/" + pathSplits[1] : ""}`

    function pickModel(path, name) {
      const encoded = encodeURI(hostPrefix + '/assets/' + path)
      exports.selectModelByURL(encoded)
      modelContainer.contentWindow.postMessage({
        url:  encoded,
        name: name,
        type: "nlw-load-url"
      }, "*")
    }

    const modelList = document.getElementById("tortoise-model-list")
    exports.bindModelChooser(modelList, () => { }, pickModel, "@mode.toString.toLowerCase")

    modelContainer.src = "./ntango-play"

  </script>
}

@views.html.mainTheme(content, "NetTango Web Builder", Option("ntango-build"), extraHead, extraBody)
