@import play.api.Mode

@(themed: Boolean, standalone: Boolean, tagBuilder: TagBuilder)(implicit mode: Mode, request: Request[_], environment: play.api.Environment)

@extraHead = {
  @tagBuilder.pathToHTML("codemirror/lib/codemirror.css")
  @tagBuilder.pathToHTML("codemirror/addon/dialog/dialog.css")
  @tagBuilder.pathToHTML("stylesheets/classes.css")
  @tagBuilder.pathToHTML("stylesheets/widgets.css")
  @tagBuilder.pathToHTML("stylesheets/ui-editor.css")
  @tagBuilder.pathToHTML("chosen-js/chosen.css")
  @tagBuilder.pathToHTML("stylesheets/tortoise.css")
  @tagBuilder.pathToHTML("stylesheets/netlogoweb.css")
  @tagBuilder.pathToHTML("stylesheets/netlogo-syntax.css")
  @tagBuilder.pathToHTML("stylesheets/spinner.css")
  @tagBuilder.pathToHTML("stylesheets/alert.css")
  @tagBuilder.pathToHTML("nettango/nettango.css")
  @tagBuilder.pathToHTML("stylesheets/nettango-builder.css")
}

@content = {
  @views.html.spinner()
  @views.html.errorAlert()
  <div @if(themed) { class="ntb-content" } else { class="ntb-content-unthemed" }>

    <div id="ntb-container" @if(themed) { class="ntb-container" }>

      <div class="ntb-netlogo-model">
        <div id="netlogo-model-container"></div>
        <div id="model-recompile-overlay" onclick="window.recompile();">
          <button class="ntb-button" onclick="window.recompile();">Recompile</button>
        </div>
      </div>

      <div id="ntb-components"></div>

    </div>


  </div>
}

@extraBody = {
  <!-- See Safari workaround comments in `color-input.coffee`.  -JMB January 2019 -->
  @tagBuilder.pathToHTML("jscolor-picker/jscolor.min.js")
  @tagBuilder.pathToHTML("jquery/dist/jquery.min.js")
  @tagBuilder.pathToHTML("chosen-js/chosen.jquery.js")
  @tagBuilder.pathToHTML("file-saver/dist/FileSaver.min.js")
  @tagBuilder.pathToHTML("lib/google-caja/html-sanitizer-minified.js")
  @tagBuilder.pathToHTML("lib/markdown-js/markdown.js")
  @tagBuilder.pathToHTML("mousetrap/mousetrap.min.js")
  @tagBuilder.pathToHTML("localforage/dist/localforage.min.js")
  @tagBuilder.pathToHTML("highcharts/highcharts.js")
  @tagBuilder.pathToHTML("highcharts/modules/exporting.js")
  @tagBuilder.pathToHTML("highcharts/modules/export-data.js")
  @tagBuilder.pathToHTML("ractive/ractive.js")
  @tagBuilder.pathToHTML("synchrodecoder/synchrodecoder.min.js")
  @tagBuilder.pathToHTML("codemirror/lib/codemirror.js")
  @tagBuilder.pathToHTML("codemirror/mode/css/css.js")
  @tagBuilder.pathToHTML("codemirror/mode/javascript/javascript.js")
  @tagBuilder.pathToHTML("codemirror/addon/dialog/dialog.js")
  @tagBuilder.pathToHTML("codemirror/addon/mode/simple.js")
  @tagBuilder.pathToHTML("codemirror/addon/search/searchcursor.js")
  @tagBuilder.pathToHTML("codemirror/addon/search/search.js")

  @tagBuilder.callToHTML(routes.CompilerService.tortoiseCompilerJs, "tortoise-compiler.js")
  @tagBuilder.callToHTML(routes.Local.engine,                       "tortoise-engine.js")

  @tagBuilder.pathToHTML("javascripts/keywords.js")
  @tagBuilder.pathToHTML("javascripts/codemirror-mode.js")
  @tagBuilder.pathToHTML("javascripts/colors.js")
  @tagBuilder.pathToHTML("javascripts/default-shapes.js")
  @tagBuilder.pathToHTML("javascripts/global-noisy-things.js")
  @tagBuilder.pathToHTML("javascripts/highcharts.js")
  @tagBuilder.pathToHTML("javascripts/new-model.js")
  @tagBuilder.pathToHTML("javascripts/models.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/checkbox.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/code-container.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/color-input.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/dropdown.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/labeled-input.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/font-size.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/print-area.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/spacer.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/tick-counter.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/variable.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/async-user-dialog.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/context-menu.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/draggable.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/edit-form.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/widget.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/button.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/chooser.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/code-editor.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/console.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/help-dialog.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/info.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/input.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/label.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/monitor.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/output.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/plot.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/resizer.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/slider.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/switch.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/title.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/view.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/draw-shape.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/link-drawer.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/view-controller.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/config-shims.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/event-traffic-control.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/handle-context-menu.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/handle-widget-selection.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/initialize-ui.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/set-up-widgets.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/skeleton.js")
  @tagBuilder.pathToHTML("javascripts/beak/widgets/widget-controller.js")
  @tagBuilder.pathToHTML("javascripts/beak/babybehaviorspace.js")
  @tagBuilder.pathToHTML("javascripts/beak/session-lite.js")
  @tagBuilder.pathToHTML("javascripts/beak/tortoise.js")

  @tagBuilder.pathToHTML("nettango/nettango.js")
  @tagBuilder.pathToHTML("javascripts/nettango/code-mirror.js")
  @tagBuilder.pathToHTML("javascripts/nettango/confirm-dialog.js")
  @tagBuilder.pathToHTML("javascripts/nettango/error-display.js")
  @tagBuilder.pathToHTML("javascripts/nettango/popup-menu.js")
  @tagBuilder.pathToHTML("javascripts/nettango/toggle.js")
  @tagBuilder.pathToHTML("javascripts/nettango/array-view.js")
  @tagBuilder.pathToHTML("javascripts/nettango/block-defaults.js")
  @tagBuilder.pathToHTML("javascripts/nettango/select-attribute.js")
  @tagBuilder.pathToHTML("javascripts/nettango/attribute.js")
  @tagBuilder.pathToHTML("javascripts/nettango/attributes.js")
  @tagBuilder.pathToHTML("javascripts/nettango/tags.js")
  @tagBuilder.pathToHTML("javascripts/nettango/allowed-tags.js")
  @tagBuilder.pathToHTML("javascripts/nettango/clauses.js")
  @tagBuilder.pathToHTML("javascripts/nettango/block-style-settings.js")
  @tagBuilder.pathToHTML("javascripts/nettango/block-preview.js")
  @tagBuilder.pathToHTML("javascripts/nettango/block-form.js")
  @tagBuilder.pathToHTML("javascripts/nettango/test/sample-model.js")
  @tagBuilder.pathToHTML("javascripts/nettango/options-form.js")
  @tagBuilder.pathToHTML("javascripts/nettango/model-chooser.js")
  @tagBuilder.pathToHTML("javascripts/nettango/json-editor.js")
  @tagBuilder.pathToHTML("javascripts/nettango/space.js")
  @tagBuilder.pathToHTML("javascripts/nettango/spaces.js")
  @tagBuilder.pathToHTML("javascripts/nettango/builder-menu.js")
  @tagBuilder.pathToHTML("javascripts/nettango/builder.js")
  @tagBuilder.pathToHTML("javascripts/nettango/storage.js")
  @tagBuilder.pathToHTML("javascripts/nettango/rewriter.js")
  @tagBuilder.pathToHTML("javascripts/nettango/undo-redo.js")
  @tagBuilder.pathToHTML("javascripts/nettango/nettango-controller.js")

  @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Local.standalone
  )

  <script type="text/json" id="ntango-code"></script>

  <script type="text/javascript">

    Ractive.DEBUG = @{environment.mode != play.api.Mode.Prod}

    const pathSplits = location.pathname.split("/")
    const hostPrefix = `${location.protocol}//${location.host}${pathSplits.length > 2 ? "/" + pathSplits[1] : ""}`

    const loadingOverlay   = document.getElementById("loading-overlay")
    var activeContainer    = loadingOverlay
    const modelContainer   = document.getElementById("netlogo-model-container")
    const builderContainer = document.getElementById("ntb-container")

    var session
    function openSession(s, callback) {
      session         = s
      document.title  = pageTitle(session.modelTitle())
      activeContainer = modelContainer
      session.startLoop()
      if (callback !== undefined) {
        callback()
      }
    }

    const isStandaloneHTML = @standalone

    window.nlwAlerter = new NLWAlerter(document.getElementById("alert-overlay"), isStandaloneHTML)

    function pageTitle(modelTitle) {
      return `NetLogo Web ${(modelTitle != null && modelTitle != "") ? ": " + modelTitle : ""}`
    }

    function displayError(error) {
      // in the case where we're still loading the model, we have to
      // post an error that cannot be dismissed, as well as ensuring that
      // the frame we're in matches the size of the error on display.
      if (activeContainer === loadingOverlay) {
        window.nlwAlerter.displayError(error, false)
        activeContainer = window.nlwAlerter.alertContainer
      } else {
        window.nlwAlerter.displayError(error)
      }
    }

    function loadModel(nlogo, path, callback) {
      if (session) {
        session.teardown()
      }
      window.nlwAlerter.hide()
      activeContainer = loadingOverlay
      Tortoise.fromNlogo(nlogo, modelContainer, path, (s) => openSession(s, callback), displayError, [netTango.rewriter, netTango.compileAlert])
    }

    function loadUrl(url, modelName, callback) {
      if (session) {
        session.teardown()
      }
      window.nlwAlerter.hide()
      activeContainer = loadingOverlay
      Tortoise.fromURL(url, modelName, modelContainer, (s) => openSession(s, callback), displayError, [netTango.rewriter, netTango.compileAlert])
    }

    function enableFrameSizeUpdates() {
      var width = 0
      var height = 0
      const update = () => {
        if (builderContainer.offsetWidth !== width || builderContainer.offsetHeight !== height) {
          width  = builderContainer.offsetWidth
          height = builderContainer.offsetHeight
          parent.postMessage({
              width:  builderContainer.offsetWidth
            , height: builderContainer.offsetHeight
            , type:   "ntb-resize"
          }, "*")
        }
      }
      window.setInterval(update, 300)
    }

    window.addEventListener("message", function (e) {
      if (e.data.type === "nlw-load-model") {
        loadModel(e.data.nlogo, e.data.path)
      } else if (e.data.type === "nlw-open-new") {
        loadModel(exports.newModel, "NewModel")
      } else if (e.data.type === "nlw-load-url") {
        loadUrl(e.data.url, e.data.name)
      } else if (e.data.type === "nlw-update-model-state") {
        session.widgetController.setCode(e.data.codeTabContents)
      } else if (e.data.type === "run-baby-behaviorspace") {
        var reaction =
          function(results) {
            e.source.postMessage({ type: "baby-behaviorspace-results", id: e.data.id, data: results }, "*")
          }
        session.asyncRunBabyBehaviorSpace(e.data.config, reaction)
     }
    })

    if (parent !== window) {
      enableFrameSizeUpdates()
    }

    window.modelContainer = modelContainer
    var ntangoCode        = document.getElementById("ntango-code")

    var overlay = document.getElementById("model-recompile-overlay")
    var theOutsideWorld = {
        setModelCode:        loadModel
      , loadUrl:             loadUrl
      , getSession:          ()                => window.session
      , getWorkspace:        ()                => window.workspace
      , addEventListener:    (event, callback) => document.addEventListener(event, callback)
      , saveAs:              window.saveAs
      , newModel:            window.exports.newModel
    }

    var ls
    try {
      ls = window.localStorage
    } catch (exception) {
      ls = NetTangoStorage.fakeStorage()
    }

    const urlParams        = new URLSearchParams(window.location.search)
    const netTangoModelUrl = urlParams.get("netTangoModel")
    const playModeParam    = urlParams.get("playMode")
    const playMode         = (playModeParam && playModeParam === "true")

    window.netTango = new NetTangoController(
      "ntb-components",
      ls,
      overlay,
      playMode || @standalone,
      "@mode.toString.toLowerCase",
      theOutsideWorld
    )

    exports.toHTML   = markdown.toHTML // This should not be necessary, but `exports` doesn't exist when we import `markdown-js`
    window.ractive   = netTango.ractive
    window.recompile = netTango.recompile
    window.onload    = () => netTango.start(netTangoModelUrl)

  </script>
}

@if(themed) {
  @views.html.mainTheme(content, "NetTango Web Builder", Option("nettango-builder"), extraHead, extraBody)
} else {
  @views.html.themeless(content, "NetTango Web Player", Option("nettango-player"), extraHead, extraBody)
}
