<div class="flex-column" style="justify-content: center; padding: 0 150px; height: 100%;">
  <div class="normal_font rounded" style="background-color: #CDE4EB; padding: 3%;">
    <h1 style="margin: auto; text-align: center;">Uh-Oh</h1>
    <div class="normal_font server-error">
      There's a problem on our end.
      <br>
      <br>
      We're working to fix it, but we can't say for sure when NetLogo Web will return.
      <br>
      In the meantime, why not look through some terrific <a href="http://ccl.northwestern.edu/netlogo/resources.shtml">NetLogo resources</a>?
    </div>
  </div>
</div>
