@(tagBuilder: TagBuilder)(implicit request: Request[_], environment: play.api.Environment)

<html>
  <head>
    <meta charset="UTF-8">
    <base target="_parent" />
    @tagBuilder.pathToHTML("lib/codemirror/lib/codemirror.css")
    @tagBuilder.pathToHTML("lib/codemirror/addon/dialog/dialog.css")
    @tagBuilder.pathToHTML("stylesheets/classes.css")
    @tagBuilder.pathToHTML("stylesheets/widgets.css")
    @tagBuilder.pathToHTML("stylesheets/ui-editor.css")
    @tagBuilder.pathToHTML("stylesheets/netlogoweb.css")
    @tagBuilder.pathToHTML("stylesheets/netlogo-syntax.css")
    @tagBuilder.pathToHTML("stylesheets/spinner.css")
    @tagBuilder.pathToHTML("stylesheets/alert.css")
  </head>
  <body style="margin: 0px;">
    <script>window.exports = {};</script>
    @views.html.spinner()
    @views.html.errorAlert()
    <div id="netlogo-model-container" style="display: inline-block;"></div>
    @tagBuilder.pathToHTML("lib/jquery/jquery.js")
    @tagBuilder.pathToHTML("lib/filesaver/FileSaver.js")
    @tagBuilder.pathToHTML("lib/google-caja/html-sanitizer-minified.js")
    @tagBuilder.pathToHTML("lib/markdown-js/markdown.js")
    @tagBuilder.pathToHTML("lib/mousetrap/mousetrap.js")
    @tagBuilder.pathToHTML("lib/highcharts/highcharts.js")
    @tagBuilder.pathToHTML("lib/highcharts/modules/exporting.js")
    @tagBuilder.pathToHTML("lib/highcharts/modules/export-data.js")
    @tagBuilder.pathToHTML("lib/ractive/ractive.js")
    @tagBuilder.pathToHTML("lib/codemirror/lib/codemirror.js")
    @tagBuilder.pathToHTML("lib/codemirror/addon/dialog/dialog.js")
    @tagBuilder.pathToHTML("lib/codemirror/addon/mode/simple.js")
    @tagBuilder.pathToHTML("lib/codemirror/addon/search/searchcursor.js")
    @tagBuilder.pathToHTML("lib/codemirror/addon/search/search.js")

    @tagBuilder.callToHTML(routes.CompilerService.tortoiseCompilerJs, "tortoise-compiler.js")
    @tagBuilder.callToHTML(routes.Local.engine,                       "tortoise-engine.js")

    @tagBuilder.pathToHTML("javascripts/codemirror-mode.js")
    @tagBuilder.pathToHTML("javascripts/colors.js")
    @tagBuilder.pathToHTML("javascripts/default-shapes.js")
    @tagBuilder.pathToHTML("javascripts/global-noisy-things.js")
    @tagBuilder.pathToHTML("javascripts/highcharts.js")
    @tagBuilder.pathToHTML("javascripts/models.js")
    @tagBuilder.pathToHTML("javascripts/new-model.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/checkbox.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/code-container.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/dropdown.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/labeled-input.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/font-size.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/print-area.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/spacer.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/tick-counter.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/subcomponent/variable.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/context-menu.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/draggable.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/edit-form.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/widget.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/button.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/chooser.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/code-editor.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/console.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/info.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/input.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/label.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/monitor.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/output.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/plot.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/resizer.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/slider.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/switch.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/title.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/ractives/view.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/draw-shape.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/link-drawer.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/draw/view-controller.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/config-shims.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/event-traffic-control.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/handle-context-menu.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/handle-widget-selection.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/initialize-ui.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/set-up-widgets.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/skeleton.js")
    @tagBuilder.pathToHTML("javascripts/beak/widgets/widget-controller.js")
    @tagBuilder.pathToHTML("javascripts/beak/babybehaviorspace.js")
    @tagBuilder.pathToHTML("javascripts/beak/session-lite.js")
    @tagBuilder.pathToHTML("javascripts/beak/tortoise.js")

    @helper.javascriptRouter("jsRoutes")(
      routes.javascript.Local.standalone
    )

    <!-- This can be used to insert NetLogo code into this page -->
    <script type="text/nlogo" id="nlogo-code" data-filename="model.nlogo"></script>

    <script>

      Ractive.DEBUG = @{environment.mode != play.api.Mode.Prod};

      var loadingOverlay  = document.getElementById("loading-overlay");
      var activeContainer = loadingOverlay;
      var modelContainer  = document.querySelector("#netlogo-model-container");
      var nlogoScript     = document.querySelector("#nlogo-code");
      var standaloneURL   = "@TagBuilder.protocolRelativeURL(new java.net.URL(routes.Local.standalone.absoluteURL))";
      var pageTitle       = function(modelTitle) {
        if (modelTitle != null && modelTitle != "") {
          return "NetLogo Web: " + modelTitle;
        } else {
          return "NetLogo Web";
        }
      };
      var session;
      var openSession = function(s) {
        session = s;
        document.title = pageTitle(session.modelTitle());
        activeContainer = modelContainer;
        session.startLoop();
      };

      var isStandaloneHTML = false;

      if (nlogoScript.textContent.length > 0) {
        isStandaloneHTML = true;
      }

      window.nlwAlerter = new NLWAlerter(document.getElementById("alert-overlay"), isStandaloneHTML);

      var displayError = function(error) {
        // in the case where we're still loading the model, we have to
        // post an error that cannot be dismissed, as well as ensuring that
        // the frame we're in matches the size of the error on display.
        if (activeContainer === loadingOverlay) {
          window.nlwAlerter.displayError(error, false);
          activeContainer = window.nlwAlerter.alertContainer;
        } else {
          window.nlwAlerter.displayError(error);
        }
      };

      var loadModel = function(nlogo, path) {
        if (session) {
          session.teardown();
        }
        window.nlwAlerter.hide();
        activeContainer = loadingOverlay;
        Tortoise.fromNlogo(nlogo, modelContainer, path, openSession, displayError);
      };

      if (nlogoScript.textContent.length > 0) {
        Tortoise.fromNlogo(nlogoScript.textContent,
                           modelContainer,
                           nlogoScript.dataset.filename,
                           openSession,
                           displayError);
      } else if (window.location.search.length > 0) {

        var query    = window.location.search.slice(1);
        var pairs    = query.split(/&(?=\w+=)/).map(function(x) { return x.split('='); });
        var paramObj = pairs.reduce(function(acc, pair) { acc[pair[0]] = pair[1]; return acc; }, {})

        var url       = (paramObj.url  !== undefined) ?           paramObj.url   : query;
        var modelName = (paramObj.name !== undefined) ? decodeURI(paramObj.name) : undefined;

        Tortoise.fromURL(url, modelName, modelContainer, openSession, displayError);

      } else {
        loadModel(exports.newModel, "NewModel");
      }

      window.addEventListener("message", function (e) {
        if (e.data.type === "nlw-load-model") {
          loadModel(e.data.nlogo, e.data.path);
        } else if (e.data.type === "nlw-open-new") {
          loadModel(exports.newModel, "NewModel");
        } else if (e.data.type === "nlw-update-model-state") {
          session.widgetController.setCode(e.data.codeTabContents);
        } else if (e.data.type === "run-baby-behaviorspace") {
          var reaction =
            function(results) {
              e.source.postMessage({ type: "baby-behaviorspace-results", id: e.data.id, data: results }, "*");
            };
          session.asyncRunBabyBehaviorSpace(e.data.config, reaction);
       }
      });

      if (parent !== window) {
        var width = "", height = "";
        window.setInterval(function() {
          if (activeContainer.offsetWidth  !== width ||
              activeContainer.offsetHeight !== height ||
              (session !== undefined && document.title != pageTitle(session.modelTitle()))) {
            if (session !== undefined) {
              document.title = pageTitle(session.modelTitle());
            }
            width = activeContainer.offsetWidth;
            height = activeContainer.offsetHeight;
            parent.postMessage({
              width:  activeContainer.offsetWidth,
              height: activeContainer.offsetHeight,
              title:  document.title,
              type:   "nlw-resize"
            }, "*");
          }
        }, 200);
      }
    </script>
  </body>
</html>
