@(libsJs: String, js: String, css: String, widgets: String, nlogoCode: String, info: String)

@clean(text: String) = @{
  Html(text.map {
    case '\n' => "\\n"
    case '"'  => "\\\""
    case '\\' => "\\\\"
    case x    => x
  }.mkString)
}

<html>
  <head>
  </head>
  <body>
    <div id="netlogo-model-container"></div>
    <style>
      @Html(css)
    </style>
    <script type="text/javascript">
      @Html(js)
      var session =
        (function () {
          var modelResult = {
            widgets: @Html(widgets),
            code:    "@clean(nlogoCode)",
            info:    "@clean(info)",
            model:   {
                result: ''
            }
          };
          return Tortoise.openSession('#netlogo-model-container', modelResult, '', true);
        })();
      @Html(libsJs)
      session.startLoop()
    </script>
  </body>
</html>
