@()(implicit request: RequestHeader)
<html>
  <head>
    <meta charset="utf-8">
    <title>QUnit basic example</title>
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("qunit.css"))'>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("qunit.js"))'></script>
    <script>
      test( "a basic test example", function() {
      var value = "hello";
        equal( value, "hello", "We expect value to be hello" );
      });
    </script>
</body>
</html>
