@import play.api.Mode

@()(implicit mode: Mode, request: Request[_])

@extraHead = {
  <link rel="stylesheet" href='@routes.Assets.versioned("chosen-js/chosen.css").relative' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/tortoise.css").relative' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/netlogo-syntax.css").relative' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/spinner.css").relative' />
}

@content = {
  <div class="tortoise inner-content">
    <div class="model-selection-bar">
      <div>
        <label>Search the Models Library:
            <span id="tortoise-model-list" class="model-list tortoise-model-list"></span>
        </label>
      </div>
      <div>
        <label>Upload a Model:
            <input id="model-file-input" type="file" name="model" />
        </label>
      </div>
    </div>
    <div class="model-box">
      <iframe id="model-container" class="model-container" src="about:blank"></iframe>
    </div>
  </div>
}

@extraBody = {
  <script src='@routes.Assets.versioned("jquery/dist/jquery.min.js").relative' type="text/javascript"></script>
  <script src='@routes.Assets.versioned("chosen-js/chosen.jquery.js").relative' type="text/javascript"></script>
  <script src='@routes.Assets.versioned("file-saver/dist/FileSaver.min.js").relative' type="text/javascript"></script>

  <script>
    window.environmentMode = "@mode.toString.toLowerCase";
  </script>

  <script type="module" src='@routes.Assets.versioned("javascripts/pages/tortoise.js").relative'></script>
}

@views.html.mainTheme(content, "NetLogo Web", Option("launch"), extraHead, extraBody)
