@import play.api.Mode

@()(implicit mode: Mode, request: Request[_])

@extraHead = {
  <link rel="stylesheet" href='@routes.Assets.versioned("lib/chosen/chosen.css")' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/tortoise.css")' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/netlogo-syntax.css")' />
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/spinner.css")' />
}

@content = {
  <div class="tortoise inner-content">
    <div class="model-selection-bar">
      <div>
        <label>Search the Models Library:
            <span id="tortoise-model-list" class="model-list tortoise-model-list"></span>
        </label>
      </div>
      <div>
        <label>Upload a Model:
            <input id="model-file-input" type="file" name="model" />
        </label>
      </div>
    </div>
    <div class="model-box">
      <iframe id="model-container" class="model-container" src="about:blank"></iframe>
    </div>
  </div>
}

@extraBody = {
  <script src='@routes.Assets.versioned("lib/jquery/jquery.js")' type="text/javascript"></script>
  <script src='@routes.Assets.versioned("lib/chosen/chosen.jquery.js")' type="text/javascript"></script>
  <script src='@routes.Assets.versioned("lib/filesaver/FileSaver.js")' type="text/javascript"></script>
  <script>
    var exports = {};
  </script>
  <script type="text/javascript" src='@routes.Assets.versioned("javascripts/models.js")'></script>
  <script>
    var modelContainer = document.querySelector('#model-container');
    var hostPrefix     = location.protocol + '//' + location.host;

    var modelFileInput = document.querySelector('#model-file-input');
    modelFileInput.addEventListener('click', function (event) { this.value = '' })
    modelFileInput.addEventListener('change', function (event) {
      var reader = new FileReader();
      reader.onload = function (e) {
        openNlogo(e.target.result);
      };
      if (this.files.length > 0) {
        reader.readAsText(this.files[0]);
      }
    });

    function pickModel(url) {
      var encoded = encodeURI(hostPrefix + '/assets/' + url);
      openURL(encoded);
    }

    function pickRandom() {
      var model = exports.handPickedModels[Math.floor(Math.random() * exports.handPickedModels.length)];
      exports.selectModel(model);
      pickModel(model + ".nlogo")
    }

    function openURL(url) {
      window.location.hash = url;
      if (decodeURI(url) === url) {
        url = encodeURI(url);
      }
      exports.selectModelByURL(window.location.hash.slice(1));
      modelContainer.src = "/web?"+url;
    }

    window.addEventListener("message", function(e) {

      if (e.data.type === "nlw-resize") {

        var isValid = function(x) { return (typeof x !== "undefined" && x !== null); };

        var height = e.data.height;
        var width  = e.data.width;
        var title  = e.data.title;

        // Quack, quack!
        // Who doesn't love duck typing? --JAB (11/9/15)
        if ([height, width, title].every(isValid)) {
          modelContainer.width  = width;
          modelContainer.height = height;
          document.title        = title;
        }

      } else if (e.data.type === "nlw-set-hash") {
        window.location.hash = e.data.hash;
      }

    });

    function openNlogo(nlogoContents) {
      window.location.hash = "";
      filePath = document.getElementById("model-file-input").value;
      modelContainer.contentWindow.postMessage({
        nlogo: nlogoContents,
        path: filePath,
        type: "nlw-load-model"
      }, "*");
    }

    function initModel() {
      if (window.location.hash) {
        var hash = window.location.hash.substring(1);
        if (hash === "NewModel") {
          modelContainer.src = "/web";
        } else {
          openURL(hash);
        }
      } else {
        pickRandom();
      }
    }

    exports.bindModelChooser(document.getElementById('tortoise-model-list')
                           , initModel, pickModel, '@mode.toString.toLowerCase');
  </script>
}

@views.html.mainTheme(content, "NetLogo Web", Option("launch"), extraHead, extraBody)
