<div class="inner-content" style="margin: 0 10%; text-align: justify;">

  <h2 id="v2.5.2">February 8th, 2019 - v2.5.2</h2>

  <p>This is a quick bugfix release to resolve an issue where authoring a model (resizing widgets) can cause file exports to fail.</p>

  <h2 id="january18th2019-v2.5.1">January 18th, 2019 - v2.5.1</h2>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>On a code recompile failure the line number will now display along with the error message.</li>
    <li>Put in a workaround so that color input widgets can work in the Safari browser.</li>
    <li>Put in a workaround for selecting input text in authoring mode popup windows in Firefox.</li>
    <li>Allowed line plots to go in any direction with <code>plotxy</code>, matching NetLogo desktop&#8217;s behavior.</li>
    <li>Fixed some bugs around using <code>run</code> and <code>runresult</code> with <code>let</code> variables in strings.</li>
    <li>Fixed a bug where widgets could be nudged outside the model area in authoring mode using the keyboard.</li>
    <li>Fixed a bug with the display when repeatedly loading models from the local system.</li>
  </ul>

  <h2 id="october282018-v2.5.0">October 28th, 2018 - v2.5.0</h2>

  <h3>Coding Enhancements</h3>

  <p>As part of Google Summer of Code a trio of improvements were made to the coding experience of NetLogo Web:</p>

  <ul>
    <li>A &#8220;Jump to Procedure&#8221; dropdown has been added in the NetLogo Code tab that makes it easy to go right to a procedure definition in the code.</li>
    <li>A &#8220;Show Usage&#8221; hotkey has been added - simply highlight some text and hit <code>Ctrl-U</code> (Windows/Linux) or <code>Command-U</code> (macOS) and you&#8217;ll see a list of the lines of code the text is used. This is very useful for finding where variables and procedures are used.</li>
    <li>An &#8220;Auto-Complete&#8221; feature has been added. When the checkbox is checked in the NetLogo Code tab, suggestions for keywords, primitives, and procedure names will popup as you type in code.</li>
  </ul>

  <p>Three more features were added that should also help the coding and model testing experience:</p>

  <ul>
    <li>A &#8220;Comment Code&#8221; hotkey has been added that will toggle a line between commented or uncommented with the <code>;</code> character. Useful for quickly testing code with or without some line. It is available at <code>Ctrl-;</code> (Windows/Linux) or <code>Command-;</code> (macOS).</li>
    <li>There is an option to move the &#8220;Commands and Code&#8221; tabs to the right side of the screen, instead of the bottom (the default). This allows viewing the Command Center or NetLogo Code tabs side-by-side with a model, which is much nicer on wide screens.</li>
    <li>Errors that occur as a result of code typed into the Command Center will now show in the Command Center display, instead of in a dialog box. The Command Center is also more consistent about retaining focus after commands are entered.</li>
  </ul>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Wide models will now expand to take up more screen space by default, instead of getting &#8220;stuck&#8221; inside a small box on the screen.</li>
    <li>Lots of improvements to navigating models in the models library dropdown - using browser back and forward buttons should work much more reliably.</li>
    <li>Workarounds were added to better support the Microsoft Edge web browser, especially around widget editing.</li>
    <li>The Baby BehaviorSpace experimental feature is now aware of the <code>behaviorspace-expiriment-name</code> and <code>behaviorspace-run-number</code> primitives.</li>
    <li>Fixed a couple issues and styles for the documentation pages.</li>
    <li>Turtle pen size choices are now better respected.</li>
    <li>The same <code>nlogo</code> file can now be uploaded multiple times in a row - before nothing would happen on the 2nd or further uploads.</li>
    <li>Monitor widgets allow non-numeric values, as in desktop.</li>
    <li>Models that use <code>inspect</code> can now compile and run, but the command doesn&#8217;t do anything.</li>
    <li>More primitives have been added to the code highlighter.</li>
    <li>Fix for using <code>turtle-set</code> with special agentsets, like <code>turtles</code> and <code>patches</code>. It wasn&#8217;t making a new agentset in these cases, so adjustments to the new agentset would affect all agents in the world.</li>
    <li>Improved error messages for <code>n-of</code> to match desktop.</li>
    <li>Fixed an issue where using <code>setxy</code> with <code>pen-down</code> and a wrapped world wouldn&#8217;t properly wrap the pen drawings.</li>
    <li>Exporting anonymous procedures works with <code>export-world</code> without errors. Note that importing is not supported (in desktop or web).</li>
    <li>Speed optimizations were added around breed checks for agents, the <code>patchat</code> primitive, and using commands or reporters with large agentsets, like <code>patches</code> in a big world.</li>
    <li>The <code>item</code> primitive now allows non-integer indexes when accessing a list, just like desktop.</li>
    <li>Errors are thrown when using <code>ask</code> or <code>inspect</code> with a dead agent, as with desktop.</li>
    <li>Using <code>towards</code> with patches no longer throws an error.</li>
  </ul>


  <h2>May 31st, 2018 - v2.4.0</h2>

  <h3>Newly Supported NetLogo Features</h3>

  <ul>
    <li>The very exciting new feature for this release is model interface editing support! Model authoring is now possible in NetLogo Web. See the <a href="docs/authoring">new documentation</a> for more information.</li>
  </ul>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Documentation has been updated for authoring and to include more information on the differences with NetLogo desktop.</li>
    <li>Manually typed slider values will not go outside the limits of the slider.</li>
    <li>Small improvements were made to the automatic indentation in the code editor.</li>
    <li>Performance optimizations were added around using <code>any?</code> and <code>with</code> primitives together, as in <code>any? turtles with [color = red]</code>.</li>
  </ul>

  <h2>March 23rd, 2018 - v2.3.1</h2>

  <h3>Models Library</h3>

  NetLogo Web has been updated with the same version of the Models Library that comes with NetLogo desktop 6.0.3, which means that many models have been added or modified.  See the "Models" section <a href="http://ccl.northwestern.edu/netlogo/docs/versions.html#version-603-march-2018">here</a> for more information.

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>The <code>diffuse</code> and <code>diffuse4</code> commands are now properly symmetrical, matching the fix made in NetLogo desktop 6.0.3.</li>
  </ul>

  <h2>March 9th, 2018 - v2.3.0</h2>

  <h3>Newly Supported NetLogo Features</h3>

  <ul>
    <li><code>import-world</code> and <code>export-world</code> are now supported.</li>
    <li><code>import-drawing</code> has a basic implementation that tries to load an image at the given URL.</li>
    <li><code>netlogo-version</code> will return a string value that matches the version from these release notes.</li>
  </ul>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>World will not clear on a recompile unless there are code changes that require it.</li>
    <li>Agents are now rendered in breed declaration order, as they are in desktop.</li>
    <li>Number input widgets display correctly in Firefox when set to a small size.</li>
    <li>Input widgets now update values only when an edit is complete, to avoid causing problems with incomplete changes while models are running.</li>
    <li>The command console will now properly insert <code>show</code> when using any reporter, not just some.</li>
    <li>Histograms now properly round down when bucketing data.</li>
    <li>Small improvement to the display of link shapes so they are more reasonably sized.</li>
    <li>Plot update commands recognize <code>stop</code>.</li>
    <li>Plots now use a clone of the main model random number generator, as they do in desktop NetLogo.</li>
  </ul>

  <h2>January 8th, 2018 - v2.2.3</h2>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Show an x-value in plot tooltips.</li>
  </ul>

  <h2>November 27th, 2017 - v2.2.2</h2>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Bugfixes around exporting CSV data from plots.</li>
    <li>Output area widgets should update correctly.</li>
    <li>Using <code>run</code> or <code>runresult</code> on strings with comments should work correctly.</li>
    <li>Minor user interface clean-up.</li>
  </ul>

  <h2>October 27th, 2017 - v2.2.1</h2>

  <h3>Newly Supported NetLogo Features</h3>

  <ul>
    <li>The <code>diffuse4</code> primitive is now supported.</li>
    <li>Vertical sliders are now presented correctly.</li>
  </ul>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Fixed a bug where turtles moving <code>back</code> would not draw pen lines.</li>
    <li>Fixed a bug with the display of histogram plots when using temporary plot pens.</li>
    <li>Fixed a bug that would incorrectly set tied turtle positions in rare circumstances.</li>
  </ul>

  <h2>October 5th, 2017 - v2.2.0</h2>

  <h3>Newly Supported NetLogo Language Primitives</h3>

  <ul>
    <li><code>read-from-string</code></li>
    <li><code>export-view</code></li>
    <li><code>run</code> and <code>runresult</code> now work on string values.  Example:  <code>run "set sum 10 + 100"</code></li>
  </ul>

  <h3>Improvements and Bug Fixes</h3>

  <ul>
    <li>Models that are saved with code tab errors can now be loaded so the errors can be addressed.</li>
    <li>Running a reporter in the command center automatically adds <code>show</code> for usability.</li>
    <li>Fix for a couple issues when loading a model from an <code>.nlogo</code> file, including ghosting agents at full tick speed.</li>
    <li>Plot title sizes were reduced to give more room for the plots.</li>
    <li><code>clear-all</code> clears output areas, too.</li>
    <li>Models library updated to match the 6.0.2 NetLogo desktop release.</li>
  </ul>

  <h2>July 28th, 2017 - v2.1.0</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>insert-item</li>
    <li>range</li>
    <li>wait (This implementation is for basic compatibility.  We recommend NetLogo Web models avoid the use of this primitive.)</li>
  </ul>

  <h3>Selected BugFixes / Improvements</h3>

  <ul>
    <li>Numerous major optimizations and performance improvements.</li>
    <li>Improve anonymous reporter and command display with <code>show</code>.</li>
    <li>Allow <code>extract-hsb</code> to take RGB lists.</li>
    <li>Make <code>is-breed?</code> work with links.</li>
  </ul>

  <h3>Models Library</h3>

  NetLogo Web is now using a preliminary version of the Models Library that will come with the soon-to-be-released NetLogo 6.0.2, which means that many models have been added or modified.  See the "Models" section <a href="http://ccl.northwestern.edu/netlogo/docs/versions.html">here</a> for more information.

  <h2>February 5th, 2017</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>clear-globals</li>
    <li>downhill</li>
    <li>downhill4</li>
    <li>layout-circle</li>
    <li>layout-radial</li>
    <li>layout-tutte</li>
    <li>random-gamma</li>
    <li>uphill</li>
    <li>uphill4</li>
  </ul>

  <h3>NetLogo 6 Parity</h3>

  Much has been done to keep step with the desktop version of NetLogo as it transitioned from version 5.3.1 to version 6.0.0.  The two most significant changes have been making link primitives more consistent with one another in their behavior, and the replacement of tasks with anonymous procedures.  For more information about these items, please see the "Tasks replaced by Anonymous Procedures" and "Link reporters overhauled to be more consistent and flexible" subsections of <a href="http://ccl.northwestern.edu/netlogo/docs/transition.html#v60">the NetLogo 6 transition guide</a>.

  <h3>Models Library</h3>

  NetLogo Web is now using the version of the Models Library that comes with NetLogo 6, which means that many models have been added or modified.  See the "Models" section <a href="http://ccl.northwestern.edu/netlogo/docs/versions.html">here</a> for more information.

  <h2>October 11th, 2016</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>random-gamma</li>
  </ul>

  <h2>September 13th, 2016</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>export-output</li>
    <li>user-input</li>
  </ul>

  <h2>August 9th, 2016</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>link-shapes</li>
  </ul>

  <h2>July 26th, 2016</h2>

  <h3>Miscellaneous</h3>

  NetLogo Web files are now distributed in such a way that clearing your browser's cache should never be necessary for obtaining the latest versions of the files.

  <h2>June 1st, 2016</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>user-yes-or-no?</li>
  </ul>

  <h2>April 8th, 2016</h2>

  <h3>Widget Enhancement</h3>

  Input widgets can now be used to select colors.

  <h2>February 25th, 2016</h2>

  <h3>Widget Enhancement</h3>

  Buttons now indicate if they are "forever" buttons.  Also, buttons now indicate if they run in an agent context (T (turtles), P (patches), or L (links)).

  <h2>February 10th, 2016</h2>

  <h3>Now-Supported Language Primitives</h3>

  <ul>
    <li>at-points</li>
    <li>sort-by</li>
    <li>sort-on</li>
  </ul>

  <h2>December 14th, 2015</h2>

  <h3>Widget Error Reporting</h3>

  <p>Widgets now support displaying red label text when they contain an error.</p>

  <p>This does not currently apply to plot widgets, which will still display
     pop-ups about errors on model load, for the time being.</p>

  <h2>November 9th, 2015</h2>

  <h3>Newly-Implemented Language Primitives</h3>

  <p>First and foremost, this update brings with it the implementation of many
     NetLogo primitives, substantially increasing the percentage of the
     language supported by NetLogo Web.</p>

  <p>The newly-supported primitives are as follows:</p>

  <ul>
    <li>approximate-rgb</li>
    <li>approximate-hsb</li>
    <li>breed-at</li>
    <li>clear-drawing</li>
    <li>date-and-time</li>
    <li>extract-hsb</li>
    <li>home</li>
    <li>hsb</li>
    <li>in-cone</li>
    <li>is-boolean?</li>
    <li>max-n-of</li>
    <li>min-n-of</li>
    <li>modes</li>
    <li>netlogo-web?</li>
    <li>patch-at-heading-and-distance</li>
    <li>patch-size</li>
    <li>pen-erase</li>
    <li>random-exponential</li>
    <li>random-normal</li>
    <li>random-poisson</li>
    <li>random-pxcor</li>
    <li>random-pycor</li>
    <li>rgb</li>
    <li>set-patch-size</li>
    <li>shapes</li>
    <li>shuffle</li>
    <li>stamp-erase</li>
    <li>user-message</li>
    <li>with-local-randomness</li>
    <li>with-min</li>
    <li>with-max</li>
    <li>wrap-color</li>
  </ul>

  <h3>Updated Models Library</h3>

  <p>This change adds the Traffic Basic Adaptive Individuals model and updates
     dozens of other models were updated with small tweaks and code style
     improvements.</p>

  <p>The above changes, combined with all of the new primitives added, has
     allowed the following models to now be openable in NetLogo Web:</p>

  <ul>
    <li>Autumn</li>
    <li>Bacteria Food Hunt</li>
    <li>Bacteria Hunt Speeds</li>
    <li>BeeSmart Hive Finding</li>
    <li>Bug Hunt Coevolution</li>
    <li>Bug Hunt Speeds</li>
    <li>Connected Chemistry Gas Combustion</li>
    <li>Connected Chemistry Rusting Reaction</li>
    <li>Connected Chemistry Solid Combustion</li>
    <li>Current in a Wire</li>
    <li>Dice Stalagmite</li>
    <li>Disease Solo</li>
    <li>DNA Replication Fork</li>
    <li>Echo</li>
    <li>El Farol Network Congestion</li>
    <li>epiDEM Basic</li>
    <li>epiDEM Travel and Control</li>
    <li>Equidistant Probability</li>
    <li>Fireworks</li>
    <li>Flocking - Alternative Visualizations</li>
    <li>Flocking Vee Formations</li>
    <li>GasLab Single Collision</li>
    <li>Geometron Top-Down</li>
    <li>HSB and RGB Example</li>
    <li>K-Means Clustering</li>
    <li>Lightning</li>
    <li>Lunar Lander</li>
    <li>Many Regions Example</li>
    <li>Muscle Development</li>
    <li>Osmotic Pressure</li>
    <li>Particle Swarm Optimization</li>
    <li>Particle System Flame</li>
    <li>Particle System Fountain</li>
    <li>Particle System Waterfall</li>
    <li>Plant Speciation</li>
    <li>Prob Graphs Basic</li>
    <li>Random Basic Advanced</li>
    <li>Reactor Top Down</li>
    <li>Red Queen</li>
    <li>Sampler Solo</li>
    <li>Shuffle Board</li>
    <li>Simple Economy.nlogo</li>
    <li>Stochastic Patchwork</li>
    <li>Sunflower Biomorphs</li>
    <li>Traffic Basic Adaptive Individuals</li>
    <li>Turtles Circling</li>
    <li>Urban Suite - Path Dependence</li>
    <li>Urban Suite - Recycling</li>
    <li>Vision Cone Example</li>
    <li>Voronoi</li>
  </ul>

  <p>Note: While most of these work fine, the fact that a model is openable does
     not imply that we think the model is running well.  Some of these models
     are still a bit slow or buggy, and we plan to fix that in future updates.</p>

  <h3>New Random Number Generator</h3>

  <p>Previously, NetLogo Web used the standard JavaScript random number
     generator.  With this update, NetLogo Web now gets its random numbers from
     a direct port of the random number generator used in desktop NetLogo.
     Thanks to this, any seed passed to <code>random-seed</code> leads to
     exactly the same model run in NetLogo Web as it does in desktop NetLogo.</p>

</div>
